In [1]:
# autoreload
%load_ext autoreload
%autoreload 2

In [2]:
import sys
import os

# Add the parent directory of src to the path
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from src.db.manager import DBManager
from src.input_to_instructions.load_and_execute import *
from src.input_to_instructions.types import *
from src.plot_graph.execute import *
from src.operation.execute import *

In [3]:
from collections import defaultdict, Counter
import logging

import pandas as pd
import numpy as np
from tqdm import tqdm
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

import json
import itertools

from db.manager import DBManager
from operation.execute import OperationExecutor
from pathlib import Path
import warnings
import datetime


warnings.filterwarnings("ignore", category=pd.errors.SettingWithCopyWarning)

INFO:db.instance:Connected to the database PerSite_DB

In [4]:
BASE_DIR = "../"
def read_json(path):
    with open(path, "r", encoding="utf-8") as f:
        result = json.loads(f.read())
    
    # result = [{"Input": d["Input"], "Response": json.dumps(d["Response"], ensure_ascii=False)} for d in result]
    return result

In [5]:
import matplotlib.pyplot as plt
import matplotlib

from src.plot_graph.execute import plot_graph_plotly
matplotlib.rcParams['font.family'] = 'NanumGothicCoding'
def run_query(user_input, metadata, instructions):
    variables = {
        "Metadata": metadata,
    }
    for instruction in instructions:
        # logger.debug(f"Executing instruction: {instruction.__class__.__name__}")
        # print(f"Executing instruction: {instruction.__class__.__name__}")
        
        if type(instruction) == InstructionQ:
            # Execute query
            result_df = DBManager.structured_query_data_t(metadata, instruction.args)
            
            if result_df is None:
                print("죄송합니다, 관련 데이터를 찾을 수 없습니다.", "response")
                return

            # For demo, drop rows where any value is -1
            result_df = result_df.loc[(result_df != -1).all(axis=1)]
           
            #pd.set_option('display.max_rows', 10000)        
            #pd.set_option('display.max_columns', 1000)
            #pd.set_option('display.width', 1000)
            #pd.set_option('display.max_colwidth', 1000)
            #print(f"QueryResult: {result_df}")

            variables[instruction.result_name] = result_df
        
        elif type(instruction) == InstructionO:
            # Execute operation

            result_dict = OperationExecutor.execute(variables, instruction.scripts, instruction.returns)
            
            variables.update(result_dict)
            pass
        elif type(instruction) == InstructionG:

            # fig = plot_graph(instruction, variables)
            # plt.show(fig)
            
            #fig = plot_graph_plotly(instruction, variables)
            #plt.show(fig)
            #fig.show()
            #print(type(fig))
            # print(fig, "graph")
            pass
        elif type(instruction) == InstructionR:
            #pass
            # # Execute response generation
            variables_to_report = {k: v for k, v in variables.items() if k not in ["Metadata"]}
            print(f"Variables: {variables_to_report}")
         
            
            
            # response, required_variables = ResponseGeneration.execute(instruction, variables, user_input, metadata)
            # print(f"Required variables: {required_variables}")
            
            # print(response, "response")

In [20]:
def build_query_groundtruth(dateset_name):
    def read(path):
        data = read_json(path)
        for i, d in enumerate(data):
            data[i]["Scenario"] = directory.name
            if "v7" in dateset_name:
                data[i]["Metadata"] = metadata
        return data

    ds_ts = []
    ds_tr = []
    base_dataset_dir = Path(f"{BASE_DIR}/finetuning/dataset/{dateset_name}")
    
    for directory in base_dataset_dir.iterdir():
        if directory.is_dir() and "scenario2" in directory.name:
            if "v7" in dateset_name:
                metadata = read_json(f"{directory}/metadata.json")
                
            
            ds_ts.extend(read(f"{directory}/onlyq_ts.json"))
            #ds_tr.extend(read(f"{directory}/onlyq_ts.json"))
            #ds_tr.extend(read(f"{directory}/graph_temp.json"))
    
    ds = ds_ts + ds_tr
    
    # if "v7" in dateset_name:
    #     db_gt_filename = f"{BASE_DIR}/experiments/db_gt_v7.json"
    # else:
    #     db_gt_filename = f"{BASE_DIR}/experiments/db_gt.json"
    #     metadata = None
    
    # with open(db_gt_filename, "w", encoding="utf-8") as f:
        # f.write("[")
    # with tqdm(total=len(ds)) as pbar:
    #count=0
    for d in ds:
        #count += 1
        #if count < 10:
        #    continue  # 10보다 작은 값은 건너뛰기
        #if count > 40:
        #    break     # 20을 초과하면 반복 종료
        # pbar.set_description(f"Processing {d['Input']}")
        # print("--")
        
        instructions = InputToInstruction.postprocess(d['Response'])
        user_input, tags, metadata, scenario = d["Input"], d["Tags"], d["Metadata"], d["Scenario"]
        print(user_input)
        
        run_query(user_input, metadata, instructions)

In [21]:

build_query_groundtruth("v7-250309-reduceinputanddatefunctioncall")

오늘 4층의 평균 설정온도 알려줘
Variables: {'qr':       settemp           timestamp     idu
0        23.0 2022-09-17 00:00:00  02_I84
1        23.0 2022-09-17 00:01:00  02_I84
2        23.0 2022-09-17 00:02:00  02_I84
3        23.0 2022-09-17 00:03:00  02_I84
4        23.0 2022-09-17 00:04:00  02_I84
...       ...                 ...     ...
4255     23.0 2022-09-17 23:55:00  01_IB7
4256     23.0 2022-09-17 23:56:00  01_IB7
4257     23.0 2022-09-17 23:57:00  01_IB7
4258     23.0 2022-09-17 23:58:00  01_IB7
4259     23.0 2022-09-17 23:59:00  01_IB7

[4260 rows x 3 columns], 'settemp_avg': 23.0}
지금 시간이?
Variables: {'current_time': '16:30:00'}
에어컨 전원이 켜진 4층 방들 알려줘
Variables: {'qr':      oper           timestamp     idu
0   False 2022-09-17 16:25:00  02_I84
1   False 2022-09-17 16:26:00  02_I84
2   False 2022-09-17 16:27:00  02_I84
3   False 2022-09-17 16:28:00  02_I84
4   False 2022-09-17 16:29:00  02_I84
5   False 2022-09-17 16:30:00  02_I84
6   False 2022-09-17 16:25:00  02_I85
7   False 2022-09-17 16:26:00  02_I85
8   False 2022-09-17 16:27:00  02_I85
9   False 2022-09-17 16:28:00  02_I85
10  False 2022-09-17 16:29:00  02_I85
11  False 2022-09-17 16:30:00  02_I85
12  False 2022-09-17 16:25:00  01_IB7
13  False 2022-09-17 16:26:00  01_IB7
14  False 2022-09-17 16:27:00  01_IB7
15  False 2022-09-17 16:28:00  01_IB7
16  False 2022-09-17 16:29:00  01_IB7
17  False 2022-09-17 16:30:00  01_IB7, 'on_names': None}
오늘 우리반의 가장 최근 설정온도 알려줘
Variables: {'qr':    settemp           timestamp     idu
0     23.0 2022-09-17 16:25:00  02_I84
1     23.0 2022-09-17 16:26:00  02_I84
2     23.0 2022-09-17 16:27:00  02_I84
3     23.0 2022-09-17 16:28:00  02_I84
4     23.0 2022-09-17 16:29:00  02_I84
5     23.0 2022-09-17 16:30:00  02_I84, 'recent_time': '2022-09-17 16:30:00', 'settemp_recent': 23.0}
저번주 수요일 옆반 실내온도 평균 알려줘
Variables: {}

In [ ]:
# run_scenarios.py
# -*- coding: utf-8 -*-
"""
scenario1/onlyq_tr.json 들을 순회하며
 1) SQL_Q  실행 → DataFrame 출력
 2) SQL_O  실행 → DataFrame (또는 row 수) 출력
"""

import json, textwrap, re
from pathlib import Path
import pandas as pd
pd.set_option('display.max_colwidth', None)  # 열 너비 제한 해제
pd.set_option('display.max_columns', None)   # 모든 열 표시
#pd.set_option('display.max_rows', None)      # 모든 행 표시

# ──────────────────────────────────────────
BASE_DIR     = "/workspace"
dateset_name = "v7-250309-reduceinputanddatefunctioncall"
DATE_FIXES = {
    'CURRENT_DATE':      "DATE '2022-09-30'",
    'CURRENT_TIMESTAMP': "TIMESTAMP '2022-09-30 12:00:00'"
}
#DATE_FIXES = {
#    'CURRENT_DATE':      "DATE '2022-09-17'",
#    'CURRENT_TIMESTAMP': "TIMESTAMP '2022-09-17 16:30:00'"
#}


# ──────────────────────────────────────────

def apply_date_fixes(sql: str) -> str:
    for k, v in DATE_FIXES.items():
        sql = re.sub(rf'\b{k}\b', v, sql)
    return sql

import re, textwrap
import re, textwrap
def wrap_into_select(sql_o: str, sql_q: str) -> str:
    # ①  /* SQL_Q */ 매크로 치환만 수행
    if '/* SQL_Q */' in sql_o:
        sql_o = sql_o.replace('/* SQL_Q */', textwrap.dedent(sql_q).rstrip(';'))

    # ②  불필요한 ORDER BY · LIMIT 강제 삽입 로직 제거
    sql_o = textwrap.dedent(sql_o).strip().rstrip(';')

    # ③  SELECT 로 시작하지 않으면 서브쿼리로 래핑
    if not sql_o.lstrip().upper().startswith('SELECT'):
        sql_o = f"SELECT * FROM (\n{sql_o}\n) AS sub"

    return sql_o + ';'

def read_json(p: Path):
    with open(p, encoding='utf-8') as f:
        return json.load(f)

# ───────────────── 데이터 적재 ──────────────────
base_dataset_dir = Path(f"{BASE_DIR}/finetuning/dataset/{dateset_name}")
scenarios = []
for directory in base_dataset_dir.iterdir():
    if directory.is_dir() and "scenario1" in directory.name:
        if "v7" in dateset_name:
            _metadata = read_json(directory / "metadata.json")
        scenarios.extend(read_json(directory / "trsql.json"))

# ───────────────── 실행 루프 ────────────────────
for idx, block in enumerate(scenarios, 1):
    inp, tags = block['Input'], block['Tags']
    sql_q = apply_date_fixes(tags['SQL_Q'])
    sql_o = apply_date_fixes(tags['SQL_O'])

    print(f"\n▶ ({idx}) {inp}")

    # ---------- ① SQL_Q 실행 ----------
    try:
        rows_q = DBManager.execute_sql(sql_q)
        desc_q = DBManager.db_instance.cursor.description
        if desc_q:                                     # SELECT 결과가 있을 때만
            cols_q = [d[0] for d in desc_q]
            df_q   = pd.DataFrame(rows_q, columns=cols_q)
            #print("\n― SQL_Q 결과 ―")
            print(df_q if not df_q.empty else '(empty result)')
        else:
            print("\n― SQL_Q 결과 없음 (non-select) ―")
    except Exception as e:
        print(f"SQL_Q ERROR → {e}")

    # ---------- ② SQL_O 실행 ----------
    try:
        final_sql = wrap_into_select(sql_o, sql_q)
        rows_o    = DBManager.execute_structured_query_string(final_sql)
        desc_o    = DBManager.db_instance.cursor.description
        if desc_o:
            cols_o = [d[0] for d in desc_o]
            df_o   = pd.DataFrame(rows_o, columns=cols_o)
            print("\n― SQL_O 결과 ―")
            print(df_o if not df_o.empty else '(empty result)')
        else:
            print(f"\n― SQL_O 수행 완료 (행 {DBManager.db_instance.cursor.rowcount}개, 반환 컬럼 없음) ―")
    except Exception as e:
        print(f"SQL_O ERROR → {e}")

DBManager.db_instance.close()

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

▶ (1) 어제 우리반과 옆반의 설정온도 차이 알려줘

― SQL_Q 결과 ―
      settemp idu_name           timestamp
0        23.0   01_IB7 2022-09-29 00:00:00
1        23.0   01_IB5 2022-09-29 00:00:00
2        23.0   01_IB7 2022-09-29 00:01:00
3        23.0   01_IB5 2022-09-29 00:01:00
4        23.0   01_IB7 2022-09-29 00:02:00
...       ...      ...                 ...
2827     23.0   01_IB7 2022-09-29 23:57:00
2828     23.0   01_IB5 2022-09-29 23:58:00
2829     23.0   01_IB7 2022-09-29 23:58:00
2830     23.0   01_IB5 2022-09-29 23:59:00
2831     23.0   01_IB7 2022-09-29 23:59:00

[2832 rows x 3 columns]

― SQL_O 결과 ―
   settemp_ours  settemp_beside  settemp_diff
0          23.0            23.0           0.0

▶ (2) 오늘 우리반과 옆반의 평균 온도차이 알려줘

― SQL_Q 결과 ―
      roomtemp idu_name           timestamp
0         25.5   01_IB5 2022-09-30 00:00:00
1         25.5   01_IB7 2022-09-30 00:00:00
2         25.5   01_IB5 2022-09-30 00:01:00
3         25.5   01_IB7 2022-09-30 00:01:00
4         25.5   01_IB5 2022-09-30 00:02:00
...        ...      ...                 ...
2841      27.0   01_IB7 2022-09-30 23:56:00
2842      28.5   01_IB5 2022-09-30 23:57:00
2843      27.0   01_IB7 2022-09-30 23:57:00
2844      28.5   01_IB5 2022-09-30 23:58:00
2845      27.0   01_IB7 2022-09-30 23:58:00

[2846 rows x 3 columns]

― SQL_O 결과 ―
   roomtemp_ours  roomtemp_beside  roomtemp_diff
0      27.447997        26.646521       0.801476

▶ (3) 작년 겨울 우리반 평균온도 알려줘

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_Q 결과 ―
        roomtemp idu_name           timestamp
0           -1.0   01_IB5 2021-12-01 00:00:00
1           -1.0   01_IB5 2021-12-01 00:01:00
2           -1.0   01_IB5 2021-12-01 00:02:00
3           -1.0   01_IB5 2021-12-01 00:03:00
4           -1.0   01_IB5 2021-12-01 00:04:00
...          ...      ...                 ...
128156      -1.0   01_IB5 2022-02-28 23:55:00
128157      -1.0   01_IB5 2022-02-28 23:56:00
128158      -1.0   01_IB5 2022-02-28 23:57:00
128159      -1.0   01_IB5 2022-02-28 23:58:00
128160      -1.0   01_IB5 2022-02-28 23:59:00

[128161 rows x 3 columns]

― SQL_O 결과 ―
   roomtemp_avg
0          -1.0

▶ (4) 올해 여름 앞반 평균온도 알려줘

― SQL_Q 결과 ―
       roomtemp idu_name           timestamp
0          28.0   02_I81 2022-08-01 00:01:00
1          28.0   02_I81 2022-08-01 00:02:00
2          28.0   02_I81 2022-08-01 00:03:00
3          28.0   02_I81 2022-08-01 00:04:00
4          28.0   02_I81 2022-08-01 00:05:00
...         ...      ...                 ...
44075      23.0   02_I81 2022-08-31 23:55:00
44076      23.0   02_I81 2022-08-31 23:56:00
44077      23.0   02_I81 2022-08-31 23:57:00
44078      23.0   02_I81 2022-08-31 23:58:00
44079      23.0   02_I81 2022-08-31 23:59:00

[44080 rows x 3 columns]

― SQL_O 결과 ―
   roomtemp_avg
0     26.108745

▶ (5) 올해 봄 옆반 제일 추웠던 날 알려줘

INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_Q 결과 ―
        roomtemp idu_name           timestamp
0           -1.0   01_IB7 2022-03-01 00:00:00
1           -1.0   01_IB7 2022-03-01 00:01:00
2           -1.0   01_IB7 2022-03-01 00:02:00
3           -1.0   01_IB7 2022-03-01 00:03:00
4           -1.0   01_IB7 2022-03-01 00:04:00
...          ...      ...                 ...
131036      -1.0   01_IB7 2022-05-30 23:56:00
131037      -1.0   01_IB7 2022-05-30 23:57:00
131038      -1.0   01_IB7 2022-05-30 23:58:00
131039      -1.0   01_IB7 2022-05-30 23:59:00
131040      -1.0   01_IB7 2022-05-31 00:00:00

[131041 rows x 3 columns]

INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_O 결과 ―
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           coldest_dates  \
0  [2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, 2022-03-01, ...]

   coldest_temp
0          -1.0

▶ (6) 4월 앞반 평균온도 알려줘

― SQL_Q 결과 ―
       roomtemp idu_name           timestamp
0          -1.0   02_I81 2022-04-01 00:00:00
1          -1.0   02_I81 2022-04-01 00:01:00
2          -1.0   02_I81 2022-04-01 00:02:00
3          -1.0   02_I81 2022-04-01 00:03:00
4          -1.0   02_I81 2022-04-01 00:04:00
...         ...      ...                 ...
43195      -1.0   02_I81 2022-04-30 23:55:00
43196      -1.0   02_I81 2022-04-30 23:56:00
43197      -1.0   02_I81 2022-04-30 23:57:00
43198      -1.0   02_I81 2022-04-30 23:58:00
43199      -1.0   02_I81 2022-04-30 23:59:00

[43200 rows x 3 columns]

― SQL_O 결과 ―
   roomtemp_avg
0          -1.0

▶ (7) 이번달 중 우리반 온도가 가장 덜 더운날이 언제야?

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_Q 결과 ―
       roomtemp idu_name           timestamp
0          25.0   01_IB5 2022-09-01 00:00:00
1          25.0   01_IB5 2022-09-01 00:01:00
2          25.0   01_IB5 2022-09-01 00:02:00
3          25.0   01_IB5 2022-09-01 00:03:00
4          25.0   01_IB5 2022-09-01 00:04:00
...         ...      ...                 ...
42553      28.5   01_IB5 2022-09-30 23:54:00
42554      28.5   01_IB5 2022-09-30 23:55:00
42555      28.5   01_IB5 2022-09-30 23:56:00
42556      28.5   01_IB5 2022-09-30 23:57:00
42557      28.5   01_IB5 2022-09-30 23:58:00

[42558 rows x 3 columns]

― SQL_O 결과 ―
              coldest_dates  coldest_temp
0  [2022-09-07, 2022-09-27]          22.5

▶ (8) 2주전 우리반과 옆반 합쳐서 설정온도가 가장 낮은날이 언제야?

― SQL_Q 결과 ―
       settemp idu_name           timestamp
0         23.0   01_IB5 2022-09-12 00:00:00
1         23.0   01_IB7 2022-09-12 00:00:00
2         23.0   01_IB5 2022-09-12 00:01:00
3         23.0   01_IB7 2022-09-12 00:01:00
4         23.0   01_IB5 2022-09-12 00:02:00
...        ...      ...                 ...
19865     23.0   01_IB7 2022-09-18 23:57:00
19866     23.0   01_IB5 2022-09-18 23:58:00
19867     23.0   01_IB7 2022-09-18 23:58:00
19868     23.0   01_IB5 2022-09-18 23:59:00
19869     23.0   01_IB7 2022-09-18 23:59:00

[19870 rows x 3 columns]

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_O 결과 ―
                                                                          coldest_dates  \
0  [2022-09-12, 2022-09-13, 2022-09-14, 2022-09-15, 2022-09-16, 2022-09-17, 2022-09-18]

   coldest_temp
0          23.0

▶ (9) 우리반의 가장 최근 설정 온도 알려줘

― SQL_Q 결과 ―
   settemp idu_name           timestamp
0     23.0   01_IB5 2022-09-30 11:55:00
1     23.0   01_IB5 2022-09-30 11:56:00
2     23.0   01_IB5 2022-09-30 11:57:00
3     23.0   01_IB5 2022-09-30 11:58:00
4     23.0   01_IB5 2022-09-30 11:59:00
5     23.0   01_IB5 2022-09-30 12:00:00

― SQL_O 결과 ―
   settemp_recent settemp_recent_time
0            23.0 2022-09-30 12:00:00

▶ (10) 옆반의 가장 최근 온도랑 설정온도 알려줘

― SQL_Q 결과 ―
   roomtemp  settemp idu_name           timestamp
0      27.0     23.0   01_IB7 2022-09-30 11:55:00
1      27.0     23.0   01_IB7 2022-09-30 11:56:00
2      27.0     23.0   01_IB7 2022-09-30 11:57:00
3      27.0     23.0   01_IB7 2022-09-30 11:58:00
4      27.0     23.0   01_IB7 2022-09-30 11:59:00
5      27.0     23.0   01_IB7 2022-09-30 12:00:00

― SQL_O 결과 ―
   roomtemp_recent  settemp_recent         recent_time
0             27.0            23.0 2022-09-30 12:00:00

▶ (11) 지금 옆반 너무 추워

― SQL_Q 결과 ―
     roomtemp  settemp   oper idu_name           timestamp
0        26.5     23.0  False   01_IB7 2022-09-30 09:00:00
1        26.5     23.0  False   01_IB7 2022-09-30 09:01:00
2        26.5     23.0  False   01_IB7 2022-09-30 09:02:00
3        26.5     23.0  False   01_IB7 2022-09-30 09:03:00
4        26.5     23.0  False   01_IB7 2022-09-30 09:04:00
..        ...      ...    ...      ...                 ...
173      27.0     23.0  False   01_IB7 2022-09-30 11:56:00
174      27.0     23.0  False   01_IB7 2022-09-30 11:57:00
175      27.0     23.0  False   01_IB7 2022-09-30 11:58:00
176      27.0     23.0  False   01_IB7 2022-09-30 11:59:00
177      27.0     23.0  False   01_IB7 2022-09-30 12:00:00

[178 rows x 5 columns]

― SQL_O 결과 ―
     roomtemp  settemp   oper           timestamp
0        26.5     23.0  False 2022-09-30 09:00:00
1        26.5     23.0  False 2022-09-30 09:01:00
2        26.5     23.0  False 2022-09-30 09:02:00
3        26.5     23.0  False 2022-09-30 09:03:00
4        26.5     23.0  False 2022-09-30 09:04:00
..        ...      ...    ...                 ...
173      27.0     23.0  False 2022-09-30 11:56:00
174      27.0     23.0  False 2022-09-30 11:57:00
175      27.0     23.0  False 2022-09-30 11:58:00
176      27.0     23.0  False 2022-09-30 11:59:00
177      27.0     23.0  False 2022-09-30 12:00:00

[178 rows x 4 columns]

▶ (12) 우리반 왜이리 덥노

― SQL_Q 결과 ―
     roomtemp  settemp   oper idu_name           timestamp
0        28.0     23.0  False   01_IB5 2022-09-30 09:00:00
1        28.0     23.0  False   01_IB5 2022-09-30 09:01:00
2        28.0     23.0  False   01_IB5 2022-09-30 09:02:00
3        28.0     23.0  False   01_IB5 2022-09-30 09:03:00
4        28.0     23.0  False   01_IB5 2022-09-30 09:04:00
..        ...      ...    ...      ...                 ...
173      28.0     23.0  False   01_IB5 2022-09-30 11:56:00
174      28.0     23.0  False   01_IB5 2022-09-30 11:57:00
175      28.0     23.0  False   01_IB5 2022-09-30 11:58:00
176      28.0     23.0  False   01_IB5 2022-09-30 11:59:00
177      28.0     23.0  False   01_IB5 2022-09-30 12:00:00

[178 rows x 5 columns]

― SQL_O 결과 ―
     roomtemp  settemp   oper           timestamp
0        28.0     23.0  False 2022-09-30 09:00:00
1        28.0     23.0  False 2022-09-30 09:01:00
2        28.0     23.0  False 2022-09-30 09:02:00
3        28.0     23.0  False 2022-09-30 09:03:00
4        28.0     23.0  False 2022-09-30 09:04:00
..        ...      ...    ...                 ...
173      28.0     23.0  False 2022-09-30 11:56:00
174      28.0     23.0  False 2022-09-30 11:57:00
175      28.0     23.0  False 2022-09-30 11:58:00
176      28.0     23.0  False 2022-09-30 11:59:00
177      28.0     23.0  False 2022-09-30 12:00:00

[178 rows x 4 columns]

▶ (13) What is the current temperature in our class?

― SQL_Q 결과 ―
   roomtemp idu_name           timestamp
0      28.0   01_IB5 2022-09-30 11:55:00
1      28.0   01_IB5 2022-09-30 11:56:00
2      28.0   01_IB5 2022-09-30 11:57:00
3      28.0   01_IB5 2022-09-30 11:58:00
4      28.0   01_IB5 2022-09-30 11:59:00
5      28.0   01_IB5 2022-09-30 12:00:00

― SQL_O 결과 ―
   roomtemp_recent
0             28.0

▶ (14) 8일전 설정온도는?

― SQL_Q 결과 ―
      settemp idu_name           timestamp
0        23.0   01_IB5 2022-09-22 00:00:00
1        23.0   01_IB5 2022-09-22 00:01:00
2        23.0   01_IB5 2022-09-22 00:02:00
3        23.0   01_IB5 2022-09-22 00:03:00
4        23.0   01_IB5 2022-09-22 00:04:00
...       ...      ...                 ...
1416     23.0   01_IB5 2022-09-22 23:55:00
1417     23.0   01_IB5 2022-09-22 23:56:00
1418     23.0   01_IB5 2022-09-22 23:57:00
1419     23.0   01_IB5 2022-09-22 23:58:00
1420     23.0   01_IB5 2022-09-22 23:59:00

[1421 rows x 3 columns]

― SQL_O 결과 ―
   settemp_avg
0         23.0

▶ (15) 10년 전 오늘 우리반 온도는?

― SQL_Q 결과 ―
(empty result)

― SQL_O 결과 ―
  roomtemp_avg
0         None

▶ (16) 에어컨 꺼진 방들 알려줘

― SQL_Q 결과 ―
     oper idu_name           timestamp
0   False   01_IB7 2022-09-30 11:55:00
1   False   01_IB5 2022-09-30 11:55:00
2   False   02_I81 2022-09-30 11:55:00
3   False   01_IB7 2022-09-30 11:56:00
4   False   01_IB5 2022-09-30 11:56:00
5   False   02_I81 2022-09-30 11:56:00
6   False   01_IB7 2022-09-30 11:57:00
7   False   01_IB5 2022-09-30 11:57:00
8   False   02_I81 2022-09-30 11:57:00
9   False   01_IB7 2022-09-30 11:58:00
10  False   01_IB5 2022-09-30 11:58:00
11  False   02_I81 2022-09-30 11:58:00
12  False   01_IB7 2022-09-30 11:59:00
13  False   01_IB5 2022-09-30 11:59:00
14  False   02_I81 2022-09-30 11:59:00
15  False   01_IB5 2022-09-30 12:00:00
16  False   02_I81 2022-09-30 12:00:00
17  False   01_IB7 2022-09-30 12:00:00

― SQL_O 결과 ―
                  off_names
0  [01_IB5, 01_IB7, 02_I81]

▶ (17) 지난주 설정온도가 실내온도보다 더 높았던 날은?

― SQL_Q 결과 ―
      roomtemp  settemp idu_name           timestamp
0         25.5     23.0   01_IB5 2022-09-19 00:00:00
1         25.5     23.0   01_IB5 2022-09-19 00:01:00
2         25.5     23.0   01_IB5 2022-09-19 00:02:00
3         25.5     23.0   01_IB5 2022-09-19 00:03:00
4         25.5     23.0   01_IB5 2022-09-19 00:04:00
...        ...      ...      ...                 ...
9914      25.5     24.0   01_IB5 2022-09-25 23:55:00
9915      25.5     24.0   01_IB5 2022-09-25 23:56:00
9916      26.0     24.0   01_IB5 2022-09-25 23:57:00
9917      26.0     24.0   01_IB5 2022-09-25 23:58:00
9918      26.0     24.0   01_IB5 2022-09-25 23:59:00

[9919 rows x 4 columns]

― SQL_O 결과 ―
  dates
0  None

▶ (18) 우리반 이번달 제일 추웠던 날은 언제냐?

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_Q 결과 ―
       roomtemp idu_name           timestamp
0          25.0   01_IB5 2022-09-01 00:00:00
1          25.0   01_IB5 2022-09-01 00:01:00
2          25.0   01_IB5 2022-09-01 00:02:00
3          25.0   01_IB5 2022-09-01 00:03:00
4          25.0   01_IB5 2022-09-01 00:04:00
...         ...      ...                 ...
42553      28.5   01_IB5 2022-09-30 23:54:00
42554      28.5   01_IB5 2022-09-30 23:55:00
42555      28.5   01_IB5 2022-09-30 23:56:00
42556      28.5   01_IB5 2022-09-30 23:57:00
42557      28.5   01_IB5 2022-09-30 23:58:00

[42558 rows x 3 columns]

― SQL_O 결과 ―
              coldest_dates  coldest_temp
0  [2022-09-07, 2022-09-27]          22.5

▶ (19) 어제 우리반 에어컨 작동 시간 알려줘

― SQL_Q 결과 ―
       oper idu_name           timestamp
0     False   01_IB5 2022-09-29 00:00:00
1     False   01_IB5 2022-09-29 00:01:00
2     False   01_IB5 2022-09-29 00:02:00
3     False   01_IB5 2022-09-29 00:03:00
4     False   01_IB5 2022-09-29 00:04:00
...     ...      ...                 ...
1435  False   01_IB5 2022-09-29 23:55:00
1436  False   01_IB5 2022-09-29 23:56:00
1437  False   01_IB5 2022-09-29 23:57:00
1438  False   01_IB5 2022-09-29 23:58:00
1439  False   01_IB5 2022-09-29 23:59:00

[1440 rows x 3 columns]

― SQL_O 결과 ―
   total_time_in_hours
0  15.7333333333333333

▶ (20) 우리반, 옆반, 앞반 중 가장 추운 방은?

― SQL_Q 결과 ―
    roomtemp idu_name           timestamp
0       27.0   01_IB7 2022-09-30 11:55:00
1       28.0   01_IB5 2022-09-30 11:55:00
2       26.0   02_I81 2022-09-30 11:55:00
3       27.0   01_IB7 2022-09-30 11:56:00
4       28.0   01_IB5 2022-09-30 11:56:00
5       26.0   02_I81 2022-09-30 11:56:00
6       27.0   01_IB7 2022-09-30 11:57:00
7       28.0   01_IB5 2022-09-30 11:57:00
8       26.0   02_I81 2022-09-30 11:57:00
9       27.0   01_IB7 2022-09-30 11:58:00
10      28.0   01_IB5 2022-09-30 11:58:00
11      26.0   02_I81 2022-09-30 11:58:00
12      27.0   01_IB7 2022-09-30 11:59:00
13      28.0   01_IB5 2022-09-30 11:59:00
14      26.0   02_I81 2022-09-30 11:59:00
15      28.0   01_IB5 2022-09-30 12:00:00
16      26.0   02_I81 2022-09-30 12:00:00
17      27.0   01_IB7 2022-09-30 12:00:00

― SQL_O 결과 ―
  coldest_rooms  coldest_temp
0      [02_I81]          26.0

▶ (21) 에어컨 제일 세게 킨 방 3개 알려줘

― SQL_Q 결과 ―
     oper  settemp idu_name           timestamp
0   False     23.0   01_IB7 2022-09-30 11:55:00
1   False     23.0   01_IB5 2022-09-30 11:55:00
2   False     23.0   02_I81 2022-09-30 11:55:00
3   False     23.0   01_IB7 2022-09-30 11:56:00
4   False     23.0   01_IB5 2022-09-30 11:56:00
5   False     23.0   02_I81 2022-09-30 11:56:00
6   False     23.0   01_IB7 2022-09-30 11:57:00
7   False     23.0   01_IB5 2022-09-30 11:57:00
8   False     23.0   02_I81 2022-09-30 11:57:00
9   False     23.0   01_IB7 2022-09-30 11:58:00
10  False     23.0   01_IB5 2022-09-30 11:58:00
11  False     23.0   02_I81 2022-09-30 11:58:00
12  False     23.0   01_IB7 2022-09-30 11:59:00
13  False     23.0   01_IB5 2022-09-30 11:59:00
14  False     23.0   02_I81 2022-09-30 11:59:00
15  False     23.0   01_IB5 2022-09-30 12:00:00
16  False     23.0   02_I81 2022-09-30 12:00:00
17  False     23.0   01_IB7 2022-09-30 12:00:00

― SQL_O 결과 ―
  top3_rooms top3_temps
0         []         []

▶ (22) 작년 옆반 가장 더웠던 달은?

INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_Q 결과 ―
        roomtemp idu_name           timestamp
0           -1.0   01_IB7 2021-01-01 00:00:00
1           -1.0   01_IB7 2021-01-01 00:01:00
2           -1.0   01_IB7 2021-01-01 00:02:00
3           -1.0   01_IB7 2021-01-01 00:03:00
4           -1.0   01_IB7 2021-01-01 00:04:00
...          ...      ...                 ...
524156      -1.0   01_IB7 2021-12-30 23:56:00
524157      -1.0   01_IB7 2021-12-30 23:57:00
524158      -1.0   01_IB7 2021-12-30 23:58:00
524159      -1.0   01_IB7 2021-12-30 23:59:00
524160      -1.0   01_IB7 2021-12-31 00:00:00

[524161 rows x 3 columns]

INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_O 결과 ―
                                                                                                 hottest_months  \
0  [2021-06, 2021-11, 2021-01, 2021-05, 2021-12, 2021-02, 2021-03, 2021-08, 2021-09, 2021-07, 2021-10, 2021-04]

   hottest_avg
0         -1.0

▶ (23) 지난달에 설정온도랑 현재온도 차이가 제일 많이 났던 때는 언제야?

― SQL_Q 결과 ―
       settemp  roomtemp idu_name           timestamp
0         24.0      26.5   01_IB5 2022-08-01 00:01:00
1         24.0      26.5   01_IB5 2022-08-01 00:02:00
2         24.0      26.5   01_IB5 2022-08-01 00:03:00
3         24.0      26.5   01_IB5 2022-08-01 00:04:00
4         24.0      26.5   01_IB5 2022-08-01 00:05:00
...        ...       ...      ...                 ...
44075     23.0      25.0   01_IB5 2022-08-31 23:55:00
44076     23.0      25.0   01_IB5 2022-08-31 23:56:00
44077     23.0      25.0   01_IB5 2022-08-31 23:57:00
44078     23.0      25.0   01_IB5 2022-08-31 23:58:00
44079     23.0      25.0   01_IB5 2022-08-31 23:59:00

[44080 rows x 4 columns]

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_O 결과 ―
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  max_diff_timestamps  \
0  [2022-08-18 19:18:00, 2022-08-18 19:19:00, 2022-08-18 19:20:00, 2022-08-18 19:21:00, 2022-08-18 19:22:00, 2022-08-18 19:23:00, 2022-08-18 19:24:00, 2022-08-18 19:25:00, 2022-08-18 19:26:00, 2022-08-18 19:27:00, 2022-08-18 19:28:00, 2022-08-18 19:29:00, 2022-08-18 19:30:00, 2022-08-18 19:31:00, 2022-08-18 19:32:00, 2022-08-18 19:33:00, 2022-08-18 19:34:00, 2022-08-18 19:35:00, 2022-08-18 19:36:00, 2022-08-18 19:37:00, 2022-08-18 19:38:00, 2022-08-18 19:39:00, 2022-08-18 19:40:00, 2022-08-18 19:41:00, 2022-08-18 19:42:00, 2022-08-18 19:43:00, 2022-08-18 19:44:00, 2022-08-18 19:45:00, 2022-08-18 19:46:00, 2022-08-18 19:47:00, 2022-08-18 19:48:00, 2022-08-18 19:49:00, 2022-08-18 19:50:00, 2022-08-18 19:51:00, 2022-08-18 19:52:00, 2022-08-18 19:53:00, 2022-08-18 19:54:00, 2022-08-18 19:55:00, 2022-08-18 19:56:00, 2022-08-18 19:57:00, 2022-08-18 19:58:00, 2022-08-18 19:59:00, 2022-08-18 20:00:00, 2022-08-18 20:01:00, 2022-08-18 20:02:00, 2022-08-18 20:03:00, 2022-08-18 20:04:00, 2022-08-18 20:05:00, 2022-08-18 20:06:00, 2022-08-18 20:07:00, 2022-08-18 20:08:00, 2022-08-18 20:09:00, 2022-08-18 20:10:00, 2022-08-18 20:11:00, 2022-08-18 20:12:00, 2022-08-18 20:13:00, 2022-08-18 20:14:00, 2022-08-18 20:15:00]

                                                                                                                                                                                                                                                                                                                                              max_diff_settemps  \
0  [21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0]

                                                                                                                                                                                                                                                                                                                                             max_diff_roomtemps  \
0  [27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0]

   max_diff
0       6.0

▶ (24) 지난 한달간 설정온도 평균을 알려줘.

― SQL_Q 결과 ―
       settemp idu_name           timestamp
0         23.0   01_IB5 2022-08-30 00:00:00
1         23.0   01_IB5 2022-08-30 00:01:00
2         23.0   01_IB5 2022-08-30 00:02:00
3         23.0   01_IB5 2022-08-30 00:03:00
4         23.0   01_IB5 2022-08-30 00:04:00
...        ...      ...                 ...
43996     23.0   01_IB5 2022-09-29 23:56:00
43997     23.0   01_IB5 2022-09-29 23:57:00
43998     23.0   01_IB5 2022-09-29 23:58:00
43999     23.0   01_IB5 2022-09-29 23:59:00
44000     23.0   01_IB5 2022-09-30 00:00:00

[44001 rows x 3 columns]

― SQL_O 결과 ―
   settemp_avg
0    23.066021

▶ (25) What is the temperature difference between our class and the adjacent class right now?

― SQL_Q 결과 ―
    roomtemp idu_name           timestamp
0       28.0   01_IB5 2022-09-30 11:55:00
1       27.0   01_IB7 2022-09-30 11:55:00
2       28.0   01_IB5 2022-09-30 11:56:00
3       27.0   01_IB7 2022-09-30 11:56:00
4       28.0   01_IB5 2022-09-30 11:57:00
5       27.0   01_IB7 2022-09-30 11:57:00
6       28.0   01_IB5 2022-09-30 11:58:00
7       27.0   01_IB7 2022-09-30 11:58:00
8       28.0   01_IB5 2022-09-30 11:59:00
9       27.0   01_IB7 2022-09-30 11:59:00
10      28.0   01_IB5 2022-09-30 12:00:00
11      27.0   01_IB7 2022-09-30 12:00:00

― SQL_O 결과 ―
   roomtemp_ours  roomtemp_beside  roomtemp_diff
0           28.0             27.0            1.0

▶ (26) 앞반 전원 켜져있어?

― SQL_Q 결과 ―
    oper idu_name           timestamp
0  False   02_I81 2022-09-30 11:55:00
1  False   02_I81 2022-09-30 11:56:00
2  False   02_I81 2022-09-30 11:57:00
3  False   02_I81 2022-09-30 11:58:00
4  False   02_I81 2022-09-30 11:59:00
5  False   02_I81 2022-09-30 12:00:00

― SQL_O 결과 ―
    oper
0  False

▶ (27) 오늘 우리반 에어컨 전원이 처음 켜진 시각 알려줘.

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_Q 결과 ―
       oper idu_name           timestamp
0     False   01_IB5 2022-09-30 00:00:00
1     False   01_IB5 2022-09-30 00:01:00
2     False   01_IB5 2022-09-30 00:02:00
3     False   01_IB5 2022-09-30 00:03:00
4     False   01_IB5 2022-09-30 00:04:00
...     ...      ...                 ...
1434  False   01_IB5 2022-09-30 23:54:00
1435  False   01_IB5 2022-09-30 23:55:00
1436  False   01_IB5 2022-09-30 23:56:00
1437  False   01_IB5 2022-09-30 23:57:00
1438  False   01_IB5 2022-09-30 23:58:00

[1439 rows x 3 columns]

― SQL_O 결과 ―
             first_on
0 2022-09-30 02:56:00

▶ (28) 지난주 우리반은 대체로 몇 도로 설정되어 있었나요?

― SQL_Q 결과 ―
      settemp idu_name           timestamp
0        23.0   01_IB5 2022-09-19 00:00:00
1        23.0   01_IB5 2022-09-19 00:01:00
2        23.0   01_IB5 2022-09-19 00:02:00
3        23.0   01_IB5 2022-09-19 00:03:00
4        23.0   01_IB5 2022-09-19 00:04:00
...       ...      ...                 ...
9914     24.0   01_IB5 2022-09-25 23:55:00
9915     24.0   01_IB5 2022-09-25 23:56:00
9916     24.0   01_IB5 2022-09-25 23:57:00
9917     24.0   01_IB5 2022-09-25 23:58:00
9918     24.0   01_IB5 2022-09-25 23:59:00

[9919 rows x 3 columns]

― SQL_O 결과 ―
   settemp_mode  settemp_avg
0          23.0    23.248513

▶ (29) 옆반 어제 아침과 저녁의 설정온도 차이는 얼마나 돼?

― SQL_Q 결과 ―
     settemp idu_name           timestamp
0       23.0   01_IB7 2022-09-29 06:00:00
1       23.0   01_IB7 2022-09-29 06:01:00
2       23.0   01_IB7 2022-09-29 06:02:00
3       23.0   01_IB7 2022-09-29 06:03:00
4       23.0   01_IB7 2022-09-29 06:04:00
..       ...      ...                 ...
173     23.0   01_IB7 2022-09-29 08:55:00
174     23.0   01_IB7 2022-09-29 08:56:00
175     23.0   01_IB7 2022-09-29 08:57:00
176     23.0   01_IB7 2022-09-29 08:58:00
177     23.0   01_IB7 2022-09-29 08:59:00

[178 rows x 3 columns]

― SQL_O 결과 ―
   morning_avg  evening_avg  temp_diff
0         23.0         23.0        0.0

▶ (30) 지금 옆반 에어컨 상태 알려줘

― SQL_Q 결과 ―
    oper idu_name           timestamp
0  False   01_IB7 2022-09-30 11:55:00
1  False   01_IB7 2022-09-30 11:56:00
2  False   01_IB7 2022-09-30 11:57:00
3  False   01_IB7 2022-09-30 11:58:00
4  False   01_IB7 2022-09-30 11:59:00
5  False   01_IB7 2022-09-30 12:00:00

― SQL_O 결과 ―
    oper
0  False

▶ (31) 이번주 우리반 평균 온도 알려줘

― SQL_Q 결과 ―
      roomtemp idu_name           timestamp
0         26.0   01_IB5 2022-09-26 00:00:00
1         26.0   01_IB5 2022-09-26 00:01:00
2         26.0   01_IB5 2022-09-26 00:02:00
3         26.0   01_IB5 2022-09-26 00:03:00
4         26.0   01_IB5 2022-09-26 00:04:00
...        ...      ...                 ...
7089      28.5   01_IB5 2022-09-30 23:54:00
7090      28.5   01_IB5 2022-09-30 23:55:00
7091      28.5   01_IB5 2022-09-30 23:56:00
7092      28.5   01_IB5 2022-09-30 23:57:00
7093      28.5   01_IB5 2022-09-30 23:58:00

[7094 rows x 3 columns]

― SQL_O 결과 ―
   roomtemp_avg
0     25.669228

▶ (32) 이번달 우리반 설정온도 최대값과 최소값 알려줘

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_Q 결과 ―
       settemp idu_name           timestamp
0         23.0   01_IB5 2022-09-01 00:00:00
1         23.0   01_IB5 2022-09-01 00:01:00
2         23.0   01_IB5 2022-09-01 00:02:00
3         23.0   01_IB5 2022-09-01 00:03:00
4         23.0   01_IB5 2022-09-01 00:04:00
...        ...      ...                 ...
42553     23.0   01_IB5 2022-09-30 23:54:00
42554     23.0   01_IB5 2022-09-30 23:55:00
42555     23.0   01_IB5 2022-09-30 23:56:00
42556     23.0   01_IB5 2022-09-30 23:57:00
42557     23.0   01_IB5 2022-09-30 23:58:00

[42558 rows x 3 columns]

― SQL_O 결과 ―
   settemp_max  settemp_min
0         24.0         23.0

▶ (33) 우리반과 옆반중 더 추운곳은 어디야?

― SQL_Q 결과 ―
    roomtemp idu_name           timestamp
0       28.0   01_IB5 2022-09-30 11:55:00
1       27.0   01_IB7 2022-09-30 11:55:00
2       28.0   01_IB5 2022-09-30 11:56:00
3       27.0   01_IB7 2022-09-30 11:56:00
4       28.0   01_IB5 2022-09-30 11:57:00
5       27.0   01_IB7 2022-09-30 11:57:00
6       28.0   01_IB5 2022-09-30 11:58:00
7       27.0   01_IB7 2022-09-30 11:58:00
8       28.0   01_IB5 2022-09-30 11:59:00
9       27.0   01_IB7 2022-09-30 11:59:00
10      28.0   01_IB5 2022-09-30 12:00:00
11      27.0   01_IB7 2022-09-30 12:00:00

― SQL_O 결과 ―
   roomtemp_ours  roomtemp_beside  roomtemp_diff colder_idu
0           28.0             27.0            1.0     01_IB7

▶ (34) 에어컨 켜져있어?

― SQL_Q 결과 ―
    oper idu_name           timestamp
0  False   01_IB5 2022-09-30 11:55:00
1  False   01_IB5 2022-09-30 11:56:00
2  False   01_IB5 2022-09-30 11:57:00
3  False   01_IB5 2022-09-30 11:58:00
4  False   01_IB5 2022-09-30 11:59:00
5  False   01_IB5 2022-09-30 12:00:00

― SQL_O 결과 ―
    oper
0  False

▶ (35) How hot was our class over the last month?

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_Q 결과 ―
       roomtemp idu_name           timestamp
0          26.5   01_IB5 2022-08-01 00:01:00
1          26.5   01_IB5 2022-08-01 00:02:00
2          26.5   01_IB5 2022-08-01 00:03:00
3          26.5   01_IB5 2022-08-01 00:04:00
4          26.5   01_IB5 2022-08-01 00:05:00
...         ...      ...                 ...
44075      25.0   01_IB5 2022-08-31 23:55:00
44076      25.0   01_IB5 2022-08-31 23:56:00
44077      25.0   01_IB5 2022-08-31 23:57:00
44078      25.0   01_IB5 2022-08-31 23:58:00
44079      25.0   01_IB5 2022-08-31 23:59:00

[44080 rows x 3 columns]

― SQL_O 결과 ―
   roomtemp_avg
0     26.137216

▶ (36) 우리 반 에어컨이 가장 오래 작동했던 날은 언제야?

― SQL_Q 결과 ―
        oper idu_name           timestamp
0      False   01_IB5 2022-09-23 00:00:00
1      False   01_IB5 2022-09-23 00:01:00
2      False   01_IB5 2022-09-23 00:02:00
3      False   01_IB5 2022-09-23 00:03:00
4      False   01_IB5 2022-09-23 00:04:00
...      ...      ...                 ...
11514  False   01_IB5 2022-09-30 23:54:00
11515  False   01_IB5 2022-09-30 23:55:00
11516  False   01_IB5 2022-09-30 23:56:00
11517  False   01_IB5 2022-09-30 23:57:00
11518  False   01_IB5 2022-09-30 23:58:00

[11519 rows x 3 columns]

― SQL_O 결과 ―
  longest_oper_dates longest_oper_time_in_hours
0       [2022-09-26]         8.4000000000000000

▶ (37) 3주전 우리반 평균 실내온도 알려줘

― SQL_Q 결과 ―
      roomtemp idu_name           timestamp
0         25.0   01_IB5 2022-09-09 00:00:00
1         25.0   01_IB5 2022-09-09 00:01:00
2         25.0   01_IB5 2022-09-09 00:02:00
3         25.0   01_IB5 2022-09-09 00:03:00
4         25.0   01_IB5 2022-09-09 00:04:00
...        ...      ...                 ...
1424      25.5   01_IB5 2022-09-09 23:55:00
1425      25.5   01_IB5 2022-09-09 23:56:00
1426      25.5   01_IB5 2022-09-09 23:57:00
1427      25.5   01_IB5 2022-09-09 23:58:00
1428      25.5   01_IB5 2022-09-09 23:59:00

[1429 rows x 3 columns]

― SQL_O 결과 ―
   roomtemp_avg
0     25.076277

▶ (38) 지난달 오늘 오후 2시에 옆반의 설정온도는 어땠어?

― SQL_Q 결과 ―
    settemp idu_name           timestamp
0      23.0   01_IB7 2022-08-30 14:00:00
1      23.0   01_IB7 2022-08-30 14:01:00
2      23.0   01_IB7 2022-08-30 14:02:00
3      23.0   01_IB7 2022-08-30 14:03:00
4      23.0   01_IB7 2022-08-30 14:04:00
5      23.0   01_IB7 2022-08-30 14:05:00
6      23.0   01_IB7 2022-08-30 14:06:00
7      23.0   01_IB7 2022-08-30 14:07:00
8      23.0   01_IB7 2022-08-30 14:08:00
9      23.0   01_IB7 2022-08-30 14:09:00
10     23.0   01_IB7 2022-08-30 14:10:00
11     23.0   01_IB7 2022-08-30 14:11:00
12     23.0   01_IB7 2022-08-30 14:12:00
13     23.0   01_IB7 2022-08-30 14:13:00
14     23.0   01_IB7 2022-08-30 14:14:00
15     23.0   01_IB7 2022-08-30 14:15:00
16     23.0   01_IB7 2022-08-30 14:16:00
17     23.0   01_IB7 2022-08-30 14:17:00
18     23.0   01_IB7 2022-08-30 14:18:00
19     23.0   01_IB7 2022-08-30 14:19:00
20     23.0   01_IB7 2022-08-30 14:20:00
21     23.0   01_IB7 2022-08-30 14:21:00
22     23.0   01_IB7 2022-08-30 14:22:00
23     23.0   01_IB7 2022-08-30 14:23:00
24     23.0   01_IB7 2022-08-30 14:24:00
25     23.0   01_IB7 2022-08-30 14:25:00
26     23.0   01_IB7 2022-08-30 14:26:00
27     23.0   01_IB7 2022-08-30 14:27:00
28     23.0   01_IB7 2022-08-30 14:28:00
29     23.0   01_IB7 2022-08-30 14:29:00
30     23.0   01_IB7 2022-08-30 14:30:00
31     23.0   01_IB7 2022-08-30 14:31:00
32     23.0   01_IB7 2022-08-30 14:32:00
33     23.0   01_IB7 2022-08-30 14:33:00
34     23.0   01_IB7 2022-08-30 14:34:00
35     23.0   01_IB7 2022-08-30 14:35:00
36     23.0   01_IB7 2022-08-30 14:36:00
37     23.0   01_IB7 2022-08-30 14:37:00
38     23.0   01_IB7 2022-08-30 14:38:00
39     23.0   01_IB7 2022-08-30 14:39:00
40     23.0   01_IB7 2022-08-30 14:40:00
41     23.0   01_IB7 2022-08-30 14:41:00
42     23.0   01_IB7 2022-08-30 14:42:00
43     23.0   01_IB7 2022-08-30 14:43:00
44     23.0   01_IB7 2022-08-30 14:44:00
45     23.0   01_IB7 2022-08-30 14:45:00
46     23.0   01_IB7 2022-08-30 14:46:00
47     23.0   01_IB7 2022-08-30 14:47:00
48     23.0   01_IB7 2022-08-30 14:48:00
49     23.0   01_IB7 2022-08-30 14:49:00
50     23.0   01_IB7 2022-08-30 14:50:00
51     23.0   01_IB7 2022-08-30 14:51:00
52     23.0   01_IB7 2022-08-30 14:52:00
53     23.0   01_IB7 2022-08-30 14:53:00
54     23.0   01_IB7 2022-08-30 14:54:00
55     23.0   01_IB7 2022-08-30 14:55:00
56     23.0   01_IB7 2022-08-30 14:56:00
57     23.0   01_IB7 2022-08-30 14:57:00
58     23.0   01_IB7 2022-08-30 14:58:00
59     23.0   01_IB7 2022-08-30 14:59:00

― SQL_O 결과 ―
   settemp_avg
0         23.0

▶ (39) 오늘 오후 4시부터 6시까지 실내온도 평균 알려줘

― SQL_Q 결과 ―
     roomtemp idu_name           timestamp
0        28.0   01_IB5 2022-09-30 16:00:00
1        28.0   01_IB5 2022-09-30 16:01:00
2        28.0   01_IB5 2022-09-30 16:02:00
3        28.0   01_IB5 2022-09-30 16:03:00
4        28.0   01_IB5 2022-09-30 16:04:00
..        ...      ...                 ...
115      28.0   01_IB5 2022-09-30 17:55:00
116      28.0   01_IB5 2022-09-30 17:56:00
117      28.0   01_IB5 2022-09-30 17:57:00
118      28.0   01_IB5 2022-09-30 17:58:00
119      28.0   01_IB5 2022-09-30 17:59:00

[120 rows x 3 columns]

― SQL_O 결과 ―
   roomtemp_avg
0     28.045833

▶ (40) 지난주 수요일 실내온도 최고값 알려줘

― SQL_Q 결과 ―
      roomtemp idu_name           timestamp
0         26.0   01_IB5 2022-09-21 00:00:00
1         26.0   01_IB5 2022-09-21 00:01:00
2         26.0   01_IB5 2022-09-21 00:02:00
3         26.0   01_IB5 2022-09-21 00:03:00
4         26.0   01_IB5 2022-09-21 00:04:00
...        ...      ...                 ...
1390      26.0   01_IB5 2022-09-21 23:55:00
1391      26.0   01_IB5 2022-09-21 23:56:00
1392      26.0   01_IB5 2022-09-21 23:57:00
1393      26.0   01_IB5 2022-09-21 23:58:00
1394      26.0   01_IB5 2022-09-21 23:59:00

[1395 rows x 3 columns]

― SQL_O 결과 ―
   roomtemp_max
0          26.0

▶ (41) 오늘 오전 11시에 옆반의 실내온도는 어땠어?

― SQL_Q 결과 ―
   roomtemp idu_name           timestamp
0      27.0   01_IB7 2022-09-30 11:00:00

― SQL_O 결과 ―
   roomtemp
0      27.0

▶ (42) 오늘 오후 2시에 옆반의 설정온도는 어땠어?

― SQL_Q 결과 ―
   settemp idu_name           timestamp
0     23.0   01_IB7 2022-09-30 14:00:00

― SQL_O 결과 ―
   settemp
0     23.0

▶ (43) Why is our classroom so cold

― SQL_Q 결과 ―
     roomtemp  settemp   oper idu_name           timestamp
0        28.0     23.0  False   01_IB5 2022-09-30 09:00:00
1        28.0     23.0  False   01_IB5 2022-09-30 09:01:00
2        28.0     23.0  False   01_IB5 2022-09-30 09:02:00
3        28.0     23.0  False   01_IB5 2022-09-30 09:03:00
4        28.0     23.0  False   01_IB5 2022-09-30 09:04:00
..        ...      ...    ...      ...                 ...
173      28.0     23.0  False   01_IB5 2022-09-30 11:56:00
174      28.0     23.0  False   01_IB5 2022-09-30 11:57:00
175      28.0     23.0  False   01_IB5 2022-09-30 11:58:00
176      28.0     23.0  False   01_IB5 2022-09-30 11:59:00
177      28.0     23.0  False   01_IB5 2022-09-30 12:00:00

[178 rows x 5 columns]

― SQL_O 결과 ―
     roomtemp  settemp   oper           timestamp
0        28.0     23.0  False 2022-09-30 09:00:00
1        28.0     23.0  False 2022-09-30 09:01:00
2        28.0     23.0  False 2022-09-30 09:02:00
3        28.0     23.0  False 2022-09-30 09:03:00
4        28.0     23.0  False 2022-09-30 09:04:00
..        ...      ...    ...                 ...
173      28.0     23.0  False 2022-09-30 11:56:00
174      28.0     23.0  False 2022-09-30 11:57:00
175      28.0     23.0  False 2022-09-30 11:58:00
176      28.0     23.0  False 2022-09-30 11:59:00
177      28.0     23.0  False 2022-09-30 12:00:00

[178 rows x 4 columns]

▶ (44) 오늘 아침과 저녁의 온도차이는 얼마나 돼?

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_Q 결과 ―
     roomtemp           timestamp
0        26.5 2022-09-30 06:00:00
1        26.5 2022-09-30 06:01:00
2        26.5 2022-09-30 06:02:00
3        26.5 2022-09-30 06:03:00
4        26.5 2022-09-30 06:04:00
..        ...                 ...
350      28.5 2022-09-30 20:55:00
351      28.5 2022-09-30 20:56:00
352      28.5 2022-09-30 20:57:00
353      28.5 2022-09-30 20:58:00
354      28.5 2022-09-30 20:59:00

[355 rows x 2 columns]

― SQL_O 결과 ―
   morning_avg  evening_avg  temp_diff
0    27.288889    28.342857   1.053968

▶ (45) 지금 옆반 온도랑 우리반 온도 알려줘

― SQL_Q 결과 ―
    roomtemp idu_name           timestamp
0       28.0   01_IB5 2022-09-30 11:55:00
1       27.0   01_IB7 2022-09-30 11:55:00
2       28.0   01_IB5 2022-09-30 11:56:00
3       27.0   01_IB7 2022-09-30 11:56:00
4       28.0   01_IB5 2022-09-30 11:57:00
5       27.0   01_IB7 2022-09-30 11:57:00
6       28.0   01_IB5 2022-09-30 11:58:00
7       27.0   01_IB7 2022-09-30 11:58:00
8       28.0   01_IB5 2022-09-30 11:59:00
9       27.0   01_IB7 2022-09-30 11:59:00
10      28.0   01_IB5 2022-09-30 12:00:00
11      27.0   01_IB7 2022-09-30 12:00:00

― SQL_O 결과 ―
   roomtemp_ours  roomtemp_beside
0           28.0             27.0

▶ (46) 현재 설정온도랑 실내온도 차이 알려줘.

― SQL_Q 결과 ―
   settemp  roomtemp idu_name           timestamp
0     23.0      28.0   01_IB5 2022-09-30 11:55:00
1     23.0      28.0   01_IB5 2022-09-30 11:56:00
2     23.0      28.0   01_IB5 2022-09-30 11:57:00
3     23.0      28.0   01_IB5 2022-09-30 11:58:00
4     23.0      28.0   01_IB5 2022-09-30 11:59:00
5     23.0      28.0   01_IB5 2022-09-30 12:00:00

― SQL_O 결과 ―
   settemp  roomtemp  temp_diff
0     23.0      28.0        5.0

▶ (47) 지난주에 설정온도와 실내온도 차이가 가장 많이 났던 날은?

― SQL_Q 결과 ―
      settemp  roomtemp idu_name           timestamp
0        23.0      25.5   01_IB5 2022-09-19 00:00:00
1        23.0      25.5   01_IB5 2022-09-19 00:01:00
2        23.0      25.5   01_IB5 2022-09-19 00:02:00
3        23.0      25.5   01_IB5 2022-09-19 00:03:00
4        23.0      25.5   01_IB5 2022-09-19 00:04:00
...       ...       ...      ...                 ...
9914     24.0      25.5   01_IB5 2022-09-25 23:55:00
9915     24.0      25.5   01_IB5 2022-09-25 23:56:00
9916     24.0      26.0   01_IB5 2022-09-25 23:57:00
9917     24.0      26.0   01_IB5 2022-09-25 23:58:00
9918     24.0      26.0   01_IB5 2022-09-25 23:59:00

[9919 rows x 4 columns]

― SQL_O 결과 ―
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     max_diff_timestamps  \
0  [2022-09-24 02:46:00, 2022-09-24 02:47:00, 2022-09-24 02:48:00, 2022-09-24 02:49:00, 2022-09-24 02:50:00, 2022-09-24 02:51:00, 2022-09-24 02:52:00, 2022-09-24 02:53:00, 2022-09-24 02:54:00, 2022-09-24 02:55:00, 2022-09-24 02:56:00, 2022-09-24 02:57:00, 2022-09-24 02:58:00, 2022-09-24 02:59:00, 2022-09-24 03:00:00, 2022-09-24 03:01:00, 2022-09-24 03:02:00, 2022-09-24 03:03:00, 2022-09-24 03:04:00, 2022-09-24 03:05:00, 2022-09-24 03:06:00, 2022-09-24 03:07:00, 2022-09-24 03:08:00, 2022-09-24 03:09:00, 2022-09-24 03:10:00, 2022-09-24 03:11:00, 2022-09-24 03:12:00, 2022-09-24 03:13:00, 2022-09-24 05:50:00, 2022-09-24 05:51:00, 2022-09-24 05:52:00, 2022-09-24 05:53:00, 2022-09-24 05:54:00, 2022-09-24 05:55:00, 2022-09-24 05:56:00, 2022-09-24 05:57:00, 2022-09-24 05:58:00, 2022-09-24 05:59:00, 2022-09-24 06:00:00, 2022-09-24 06:01:00, 2022-09-24 06:02:00, 2022-09-24 06:03:00, 2022-09-24 06:04:00, 2022-09-24 06:05:00, 2022-09-24 06:06:00, 2022-09-24 06:07:00, 2022-09-24 06:08:00, 2022-09-24 06:09:00, 2022-09-24 06:10:00]

                                                                                                                                                                                                                                                                                        max_diff_settemps  \
0  [23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0]

                                                                                                                                                                                                                                                                                       max_diff_roomtemps  \
0  [27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0]

   max_diff
0       4.0

▶ (48) 이번주 설정온도가 실내온도보다 더 낮았던 날은?

― SQL_Q 결과 ―
      roomtemp  settemp idu_name           timestamp
0         26.0     24.0   01_IB5 2022-09-26 00:00:00
1         26.0     24.0   01_IB5 2022-09-26 00:01:00
2         26.0     24.0   01_IB5 2022-09-26 00:02:00
3         26.0     24.0   01_IB5 2022-09-26 00:03:00
4         26.0     24.0   01_IB5 2022-09-26 00:04:00
...        ...      ...      ...                 ...
7089      28.5     23.0   01_IB5 2022-09-30 23:54:00
7090      28.5     23.0   01_IB5 2022-09-30 23:55:00
7091      28.5     23.0   01_IB5 2022-09-30 23:56:00
7092      28.5     23.0   01_IB5 2022-09-30 23:57:00
7093      28.5     23.0   01_IB5 2022-09-30 23:58:00

[7094 rows x 4 columns]

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_O 결과 ―
                                                          dates
0  [2022-09-26, 2022-09-27, 2022-09-28, 2022-09-29, 2022-09-30]

▶ (49) 어제 전원 껐어?

― SQL_Q 결과 ―
       oper idu_name           timestamp
0     False   01_IB5 2022-09-29 00:00:00
1     False   01_IB5 2022-09-29 00:01:00
2     False   01_IB5 2022-09-29 00:02:00
3     False   01_IB5 2022-09-29 00:03:00
4     False   01_IB5 2022-09-29 00:04:00
...     ...      ...                 ...
1435  False   01_IB5 2022-09-29 23:55:00
1436  False   01_IB5 2022-09-29 23:56:00
1437  False   01_IB5 2022-09-29 23:57:00
1438  False   01_IB5 2022-09-29 23:58:00
1439  False   01_IB5 2022-09-29 23:59:00

[1440 rows x 3 columns]

― SQL_O 결과 ―
    oper
0  False

▶ (50) 최근에 설정온도가 가장 높았던 날 알려줘

― SQL_Q 결과 ―
       settemp idu_name           timestamp
0         23.0   01_IB5 2022-09-23 00:00:00
1         23.0   01_IB5 2022-09-23 00:01:00
2         23.0   01_IB5 2022-09-23 00:02:00
3         23.0   01_IB5 2022-09-23 00:03:00
4         23.0   01_IB5 2022-09-23 00:04:00
...        ...      ...                 ...
11339     23.0   01_IB5 2022-09-30 23:54:00
11340     23.0   01_IB5 2022-09-30 23:55:00
11341     23.0   01_IB5 2022-09-30 23:56:00
11342     23.0   01_IB5 2022-09-30 23:57:00
11343     23.0   01_IB5 2022-09-30 23:58:00

[11344 rows x 3 columns]

― SQL_O 결과 ―
                      max_settemp_dates  max_settemp
0  [2022-09-24, 2022-09-25, 2022-09-26]         24.0

▶ (51) 지난 3일 동안 우리반 실내 온도 평균 값 알려줘.

― SQL_Q 결과 ―
      roomtemp idu_name           timestamp
0         26.5   01_IB5 2022-09-27 00:00:00
1         26.5   01_IB5 2022-09-27 00:01:00
2         26.5   01_IB5 2022-09-27 00:02:00
3         26.5   01_IB5 2022-09-27 00:03:00
4         26.5   01_IB5 2022-09-27 00:04:00
...        ...      ...                 ...
5674      28.5   01_IB5 2022-09-30 23:54:00
5675      28.5   01_IB5 2022-09-30 23:55:00
5676      28.5   01_IB5 2022-09-30 23:56:00
5677      28.5   01_IB5 2022-09-30 23:57:00
5678      28.5   01_IB5 2022-09-30 23:58:00

[5679 rows x 3 columns]

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_O 결과 ―
   roomtemp_avg
0     25.712185

▶ (52) 오늘 오후 5시에 옆반의 설정온도는 어땠어?

― SQL_Q 결과 ―
   settemp idu_name           timestamp
0     23.0   01_IB7 2022-09-30 17:00:00

― SQL_O 결과 ―
   settemp
0     23.0

▶ (53) 올해 여름 우리반 실내온도 최대값과 최소값 알려줘

― SQL_Q 결과 ―
       roomtemp idu_name           timestamp
0          26.5   01_IB5 2022-08-01 00:01:00
1          26.5   01_IB5 2022-08-01 00:02:00
2          26.5   01_IB5 2022-08-01 00:03:00
3          26.5   01_IB5 2022-08-01 00:04:00
4          26.5   01_IB5 2022-08-01 00:05:00
...         ...      ...                 ...
44075      25.0   01_IB5 2022-08-31 23:55:00
44076      25.0   01_IB5 2022-08-31 23:56:00
44077      25.0   01_IB5 2022-08-31 23:57:00
44078      25.0   01_IB5 2022-08-31 23:58:00
44079      25.0   01_IB5 2022-08-31 23:59:00

[44080 rows x 3 columns]

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_O 결과 ―
   roomtemp_max  roomtemp_min
0          27.5          22.0

▶ (54) 지금 우리반 너무 더워

― SQL_Q 결과 ―
     roomtemp  settemp   oper idu_name           timestamp
0        28.0     23.0  False   01_IB5 2022-09-30 09:00:00
1        28.0     23.0  False   01_IB5 2022-09-30 09:01:00
2        28.0     23.0  False   01_IB5 2022-09-30 09:02:00
3        28.0     23.0  False   01_IB5 2022-09-30 09:03:00
4        28.0     23.0  False   01_IB5 2022-09-30 09:04:00
..        ...      ...    ...      ...                 ...
173      28.0     23.0  False   01_IB5 2022-09-30 11:56:00
174      28.0     23.0  False   01_IB5 2022-09-30 11:57:00
175      28.0     23.0  False   01_IB5 2022-09-30 11:58:00
176      28.0     23.0  False   01_IB5 2022-09-30 11:59:00
177      28.0     23.0  False   01_IB5 2022-09-30 12:00:00

[178 rows x 5 columns]

― SQL_O 결과 ―
     roomtemp  settemp   oper idu_name           timestamp
0        28.0     23.0  False   01_IB5 2022-09-30 09:00:00
1        28.0     23.0  False   01_IB5 2022-09-30 09:01:00
2        28.0     23.0  False   01_IB5 2022-09-30 09:02:00
3        28.0     23.0  False   01_IB5 2022-09-30 09:03:00
4        28.0     23.0  False   01_IB5 2022-09-30 09:04:00
..        ...      ...    ...      ...                 ...
173      28.0     23.0  False   01_IB5 2022-09-30 11:56:00
174      28.0     23.0  False   01_IB5 2022-09-30 11:57:00
175      28.0     23.0  False   01_IB5 2022-09-30 11:58:00
176      28.0     23.0  False   01_IB5 2022-09-30 11:59:00
177      28.0     23.0  False   01_IB5 2022-09-30 12:00:00

[178 rows x 5 columns]

▶ (55) 오늘 4층의 평균 실내온도 알려줘

― SQL_Q 결과 ―
      roomtemp idu_name           timestamp
0         29.0   02_I85 2022-09-17 00:00:00
1         25.0   01_IB7 2022-09-17 00:00:00
2         28.5   02_I84 2022-09-17 00:00:00
3         29.0   02_I85 2022-09-17 00:01:00
4         25.0   01_IB7 2022-09-17 00:01:00
...        ...      ...                 ...
4255      25.5   01_IB7 2022-09-17 23:58:00
4256      26.5   02_I84 2022-09-17 23:58:00
4257      25.0   02_I85 2022-09-17 23:59:00
4258      25.5   01_IB7 2022-09-17 23:59:00
4259      26.5   02_I84 2022-09-17 23:59:00

[4260 rows x 3 columns]

― SQL_O 결과 ―
   roomtemp_avg
0      27.46385

▶ (56) 4층에서 에어컨 꺼진 방들 알려줘

― SQL_Q 결과 ―
     oper idu_name           timestamp
0   False   01_IB7 2022-09-17 16:25:00
1   False   02_I84 2022-09-17 16:25:00
2   False   02_I85 2022-09-17 16:25:00
3   False   01_IB7 2022-09-17 16:26:00
4   False   02_I84 2022-09-17 16:26:00
5   False   02_I85 2022-09-17 16:26:00
6   False   01_IB7 2022-09-17 16:27:00
7   False   02_I84 2022-09-17 16:27:00
8   False   02_I85 2022-09-17 16:27:00
9   False   01_IB7 2022-09-17 16:28:00
10  False   02_I84 2022-09-17 16:28:00
11  False   02_I85 2022-09-17 16:28:00
12  False   01_IB7 2022-09-17 16:29:00
13  False   02_I84 2022-09-17 16:29:00
14  False   02_I85 2022-09-17 16:29:00
15  False   01_IB7 2022-09-17 16:30:00
16  False   02_I84 2022-09-17 16:30:00
17  False   02_I85 2022-09-17 16:30:00

― SQL_O 결과 ―
                  off_names
0  [01_IB7, 02_I84, 02_I85]

▶ (57) 4층에서 가장 추운 방은 어디야?

― SQL_Q 결과 ―
    roomtemp idu_name           timestamp
0       25.0   01_IB7 2022-09-17 16:25:00
1       28.0   02_I84 2022-09-17 16:25:00
2       29.5   02_I85 2022-09-17 16:25:00
3       25.0   01_IB7 2022-09-17 16:26:00
4       28.0   02_I84 2022-09-17 16:26:00
5       29.5   02_I85 2022-09-17 16:26:00
6       25.0   01_IB7 2022-09-17 16:27:00
7       28.0   02_I84 2022-09-17 16:27:00
8       29.5   02_I85 2022-09-17 16:27:00
9       25.0   01_IB7 2022-09-17 16:28:00
10      28.0   02_I84 2022-09-17 16:28:00
11      29.5   02_I85 2022-09-17 16:28:00
12      25.0   01_IB7 2022-09-17 16:29:00
13      28.0   02_I84 2022-09-17 16:29:00
14      29.5   02_I85 2022-09-17 16:29:00
15      25.0   01_IB7 2022-09-17 16:30:00
16      28.0   02_I84 2022-09-17 16:30:00
17      29.5   02_I85 2022-09-17 16:30:00

― SQL_O 결과 ―
  coldest_rooms  coldest_temp
0      [01_IB7]          25.0

▶ (58) 4층의 지난달 설정온도 최대값과 최소값 알려줘

INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched
INFO:db.instance:SQL SELECT query executed successfully and results fetched

― SQL_Q 결과 ―
        settemp idu_name           timestamp
0          23.0   02_I84 2022-08-17 00:00:00
1          23.0   01_IB7 2022-08-17 00:00:00
2          23.0   02_I85 2022-08-17 00:00:00
3          23.0   02_I84 2022-08-17 00:01:00
4          23.0   01_IB7 2022-08-17 00:01:00
...         ...      ...                 ...
131941     23.0   02_I85 2022-09-16 23:59:00
131942     23.0   02_I84 2022-09-16 23:59:00
131943     23.0   02_I84 2022-09-17 00:00:00
131944     23.0   01_IB7 2022-09-17 00:00:00
131945     23.0   02_I85 2022-09-17 00:00:00

[131946 rows x 3 columns]

― SQL_O 결과 ―
   settemp_max  settemp_min
0         25.0         21.0

▶ (59) 오늘 4층에서 가장 더운 방은 어디야?

― SQL_Q 결과 ―
      roomtemp idu_name           timestamp
0         29.0   02_I85 2022-09-17 00:00:00
1         25.0   01_IB7 2022-09-17 00:00:00
2         28.5   02_I84 2022-09-17 00:00:00
3         29.0   02_I85 2022-09-17 00:01:00
4         25.0   01_IB7 2022-09-17 00:01:00
...        ...      ...                 ...
4255      25.5   01_IB7 2022-09-17 23:58:00
4256      26.5   02_I84 2022-09-17 23:58:00
4257      25.0   02_I85 2022-09-17 23:59:00
4258      25.5   01_IB7 2022-09-17 23:59:00
4259      26.5   02_I84 2022-09-17 23:59:00

[4260 rows x 3 columns]

― SQL_O 결과 ―
   ht_rooms  ht_temp
0  [02_I85]     29.5

▶ (60) 오늘 4층의 평균 설정온도 알려줘

― SQL_Q 결과 ―
      settemp idu_name           timestamp
0        23.0   02_I85 2022-09-17 00:00:00
1        23.0   01_IB7 2022-09-17 00:00:00
2        23.0   02_I84 2022-09-17 00:00:00
3        23.0   02_I85 2022-09-17 00:01:00
4        23.0   01_IB7 2022-09-17 00:01:00
...       ...      ...                 ...
4255     23.0   01_IB7 2022-09-17 23:58:00
4256     23.0   02_I84 2022-09-17 23:58:00
4257     23.0   02_I85 2022-09-17 23:59:00
4258     23.0   01_IB7 2022-09-17 23:59:00
4259     23.0   02_I84 2022-09-17 23:59:00

[4260 rows x 3 columns]

― SQL_O 결과 ―
   settemp_avg
0         23.0

▶ (61) 에어컨 전원이 켜진 4층 방들 알려줘

― SQL_Q 결과 ―
     oper idu_name           timestamp
0   False   01_IB7 2022-09-17 16:25:00
1   False   02_I84 2022-09-17 16:25:00
2   False   02_I85 2022-09-17 16:25:00
3   False   01_IB7 2022-09-17 16:26:00
4   False   02_I84 2022-09-17 16:26:00
5   False   02_I85 2022-09-17 16:26:00
6   False   01_IB7 2022-09-17 16:27:00
7   False   02_I84 2022-09-17 16:27:00
8   False   02_I85 2022-09-17 16:27:00
9   False   01_IB7 2022-09-17 16:28:00
10  False   02_I84 2022-09-17 16:28:00
11  False   02_I85 2022-09-17 16:28:00
12  False   01_IB7 2022-09-17 16:29:00
13  False   02_I84 2022-09-17 16:29:00
14  False   02_I85 2022-09-17 16:29:00
15  False   01_IB7 2022-09-17 16:30:00
16  False   02_I84 2022-09-17 16:30:00
17  False   02_I85 2022-09-17 16:30:00

― SQL_O 결과 ―
  on_names
0       []

▶ (62) 오늘 우리반의 가장 최근 설정온도 알려줘

― SQL_Q 결과 ―
   settemp idu_name           timestamp
0     23.0   02_I84 2022-09-17 16:25:00
1     23.0   02_I84 2022-09-17 16:26:00
2     23.0   02_I84 2022-09-17 16:27:00
3     23.0   02_I84 2022-09-17 16:28:00
4     23.0   02_I84 2022-09-17 16:29:00
5     23.0   02_I84 2022-09-17 16:30:00

― SQL_O 결과 ―
   settemp_recent         recent_time
0            23.0 2022-09-17 16:30:00