In [2]:
# autoreload
%load_ext autoreload
%autoreload 2

In [3]:
from collections import defaultdict, Counter
import logging

import pandas as pd
from tqdm import tqdm
logging.basicConfig(level=logging.INFO)
logger = logging.getLogger(__name__)

import json
import itertools

from db.manager import DBManager
from pathlib import Path

INFO:db.instance:Connected to the database PerSite_DB

In [4]:
BASE_DIR = "../"

In [5]:
class EM:
    json_structure = "JsonStructureCorrectness"
    true_positive = "TruePositive"
    false_positive = "FalsePositive"
    false_negative = "FalseNegative"

def read_json(path):
    with open(path, "r", encoding="utf-8") as f:
        result = json.loads(f.read())
    
    # result = [{"Input": d["Input"], "Response": json.dumps(d["Response"], ensure_ascii=False)} for d in result]
    return result

def run_query_and_get_report(input, metadata, scenario, instruction_set):
    input_report = {}
    input_report["Input"] = input
    input_report["Scenario"] = scenario
    input_report["Result"] = []
    for instruction in instruction_set:
        i_type = instruction["type"]
        if i_type == "q":
            # query
            args = instruction["args"]
            result_var_name = instruction["result_name"]
            # print(f"Query: {args}, {result_var_name}")
            if "temporal" in args:
                del args["table_name"]
                args["metadata"] = metadata
                result_df = DBManager.structured_query_data_t(args, get_rowids=True)
            else:
                result_df = DBManager.structured_query(args, get_rowids=True)
            # print(f"Result:\n{result_df}")
            try:
                if "timestamp" in result_df.columns:
                    try:
                        result_df["timestamp"] = result_df["timestamp"].dt.strftime("%Y-%m-%d %H:%M:%S")
                    except Exception as e:
                        print(args)
                        print(result_df["timestamp"])
                result = result_df.to_dict(orient="index")
                cols = list(result_df.columns)
                result = [[row[col] for col in cols] for row in result.values()]
                input_report["Metadata"] = metadata
                input_report["Result"].append({
                    "type": "q",
                    # "args": args,
                    # "result_name": result_var_name,
                    "result_shape": result_df.shape,
                    "result_columns": cols,
                    "result_indices": list(result_df["id"]),
                    # "result": result
                })
            except Exception as e:
                logger.error(f"Error inside: {e}")
                logger.error(f"Invoked with Query: {args}, {result_var_name}")
        
    return input_report

def build_query_groundtruth():
    ds_ts = []
    ds_tr = []
    # base_dataset_dir = Path(f"{BASE_DIR}/finetuning/dataset/v5-250228-multimetadata")
    base_dataset_dir = Path(f"{BASE_DIR}/finetuning/dataset/v6-250306-optimizetoken")
    for directory in base_dataset_dir.iterdir():
        if directory.is_dir() and "scenario" in directory.name:
            ts = read_json(f"{directory}/onlyq_ts.json")
            for i, d in enumerate(ts):
                ts[i]["Scenario"] = directory.name
            ds_ts.extend(ts)

            tr = read_json(f"{directory}/onlyq_tr.json")
            for i, d in enumerate(tr):
                tr[i]["Scenario"] = directory.name
            ds_tr.extend(tr)
    
    metadata = None
    ds = ds_tr + ds_ts
    
    db_gt_filename = f"{BASE_DIR}/experiments/db_gt.json"
    
    with open(db_gt_filename, "w", encoding="utf-8") as f:
        f.write("[")
        with tqdm(total=len(ds)) as pbar:
            for d in ds:
                pbar.set_description(f"Processing {d['Input']}")
                # print("--")
                
                input = d["Input"]
                # print(f"Input: {input}")
                scenario = d["Scenario"]
                
                response = d["Response"]
                # instruction_set = response["Instruction Set"]
                instruction_set = response["지시"]
                # print(f"Instruction Set: {type(instruction_set)}, {len(instruction_set)}")
                
                input_report = run_query_and_get_report(input, metadata, scenario, instruction_set)
                
                try:
                    # print(input_report)
                    f.write(json.dumps(input_report, ensure_ascii=False) + ",\n")
                except Exception as e:
                    logger.error(f"Error outside: {e}")
                    logger.error(f"Invoked with Input: {input}")
                    logger.error(f"Input Report: {input_report}")
                    # exit()
                    raise e
                
                # print("\n")
                pbar.update(1)
    
        # make it json array format
        # remove last comma
        f.seek(f.tell() - 2, 0)
        f.write("]")

def product_query_info(result):
    cols = result["result_columns"]
    rows = result["result_indices"]
    return list(itertools.product(cols, rows))

# build_query_groundtruth()

Processing 어제 우리반과 옆반의 설정온도 차이 알려줘:   0%|          | 0/166 [00:00<?, ?it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB5')) AND timestamp BETWEEN '2021-08-04 00:00:00' AND '2021-08-04 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB7')) AND timestamp BETWEEN '2021-08-04 00:00:00' AND '2021-08-04 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 오늘 우리반과 옆반의 평균 온도차이 알려줘:   1%|          | 1/166 [00:00<00:03, 42.11it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB5')) AND timestamp BETWEEN '2021-08-05 00:00:00' AND '2021-08-05 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB7')) AND timestamp BETWEEN '2021-08-05 00:00:00' AND '2021-08-05 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 작년 겨울 우리반 평균온도 알려줘:   1%|          | 2/166 [00:00<00:05, 27.40it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2020-12-01 00:00:00' AND '2021-02-28 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올해 여름 앞반 평균온도 알려줘:   2%|▏         | 3/166 [00:00<00:22,  7.19it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp BETWEEN '2021-06-01 00:00:00' AND '2021-08-31 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올여름 제일 더웠던 날 알려줘:   2%|▏         | 4/166 [00:00<00:40,  3.97it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-06-01 00:00:00' AND '2021-08-31 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올해 봄 옆반 제일 추웠던 날 알려줘:   3%|▎         | 5/166 [00:01<00:50,  3.20it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-03-01 00:00:00' AND '2021-05-31 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 4월 앞반 평균온도 알려줘:   4%|▎         | 6/166 [00:01<00:59,  2.70it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp BETWEEN '2021-04-01 00:00:00' AND '2021-04-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 이번달 중 우리반 온도가 가장 덜 더운날이 언제야?:   4%|▍         | 7/166 [00:02<00:50,  3.12it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-01 00:00:00' AND '2021-08-05 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 2주전 우리반과 옆반 합쳐서 설정온도가 가장 낮은날이 언제야?:   5%|▍         | 8/166 [00:02<00:50,  3.12it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-07-18 00:00:00' AND '2021-07-24 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-07-18 00:00:00' AND '2021-07-24 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난주 설정온도 변화 추이 보여줘:   5%|▌         | 9/166 [00:02<00:33,  4.72it/s]

SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-07-25 00:00:00' AND '2021-07-31 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반의 가장 최근 설정 온도 알려줘:   6%|▌         | 10/166 [00:02<00:33,  4.72it/s]

SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-07-30 00:00:00' AND '2021-08-05 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 옆반의 가장 최근 온도랑 설정온도 알려줘:   7%|▋         | 11/166 [00:02<00:23,  6.60it/s]

SELECT "timestamp", "roomtemp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-07-30 00:00:00' AND '2021-08-05 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지금 옆반 너무 추워:   7%|▋         | 12/166 [00:02<00:23,  6.60it/s]

SELECT "timestamp", "roomtemp", "settemp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-08-05 00:00:00' AND '2021-08-05 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 우리반 왜이리 덥노:   8%|▊         | 13/166 [00:02<00:23,  6.60it/s]

SELECT "timestamp", "roomtemp", "settemp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-05 00:00:00' AND '2021-08-05 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing What is the current temperature in our class?:   9%|▉         | 15/166 [00:02<00:22,  6.60it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp = '2021-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 8일전 설정온도는?:  10%|█         | 17/166 [00:02<00:22,  6.60it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-07-28 00:00:00' AND '2021-07-28 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 10년 전 오늘 우리반 온도는?:  11%|█         | 18/166 [00:02<00:08, 16.62it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2011-08-05 00:00:00' AND '2011-08-05 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 에어컨 꺼진 방들 알려줘:  12%|█▏        | 20/166 [00:02<00:08, 16.62it/s]

SELECT "oper", (SELECT name FROM idu_t WHERE id = data_t.idu_id) AS idu_name, "id" FROM "data_t" WHERE oper=false AND timestamp = '2021-08-05 14:30:00' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 지난주 설정온도가 실내온도보다 더 높았던 날은?:  13%|█▎        | 21/166 [00:02<00:08, 16.62it/s]

SELECT "timestamp", "roomtemp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-07-25 00:00:00' AND '2021-07-31 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반 이번달 제일 추웠던 날은 언제냐?:  13%|█▎        | 22/166 [00:02<00:08, 16.62it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-01 00:00:00' AND '2021-08-05 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반과 옆반 이번주 설정온도 차이 보여줘:  14%|█▍        | 23/166 [00:02<00:06, 21.35it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-01 00:00:00' AND '2021-08-07 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-08-01 00:00:00' AND '2021-08-07 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 어제 우리반 에어컨 작동 시간 알려줘:  14%|█▍        | 24/166 [00:02<00:06, 21.35it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-04 00:00:00' AND '2021-08-04 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 우리반, 옆반, 앞반 중 가장 추운 방은?:  15%|█▌        | 25/166 [00:02<00:06, 21.35it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp = '2021-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp = '2021-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp = '2021-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 에어켠 제일 세게 킨 방 3개 알려줘:  16%|█▌        | 26/166 [00:02<00:06, 21.35it/s]

SELECT "oper", "settemp", (SELECT name FROM idu_t WHERE id = data_t.idu_id) AS idu_name, "id" FROM "data_t" WHERE timestamp = '2021-08-05 14:30:00' AND "oper" IS NOT NULL AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난 4개월동안 옆반에서 가장 더웠던 날 알려줘.:  16%|█▋        | 27/166 [00:02<00:06, 22.71it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-05-29 00:00:00' AND '2021-08-04 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난달에 설정온도랑 현재온도 차이가 제일 많이 났던 날은 언제야?:  17%|█▋        | 28/166 [00:03<00:06, 22.71it/s]

SELECT "timestamp", "settemp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-07-01 00:00:00' AND '2021-07-31 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난 한달간 설정온도 평균을 알려줘.:  17%|█▋        | 29/166 [00:03<00:06, 22.71it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-07-04 00:00:00' AND '2021-08-04 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing What is the temperature difference between our class and the adjacent class right now?:  18%|█▊        | 30/166 [00:03<00:16,  8.20it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp = '2021-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp = '2021-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 오늘 우리반 에어컨 전원이 처음 켜진 시각 알려줘.:  19%|█▉        | 32/166 [00:03<00:16,  8.20it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-05 00:00:00' AND '2021-08-05 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 지난주 우리반은 대체로 몇 도로 설정되어 있었나요?:  20%|█▉        | 33/166 [00:03<00:16,  8.20it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-07-25 00:00:00' AND '2021-07-31 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 옆반 어제 아침과 저녁의 설정온도 차이는 얼마나 돼?:  20%|██        | 34/166 [00:03<00:16,  8.20it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-08-04 06:00:00' AND '2021-08-04 09:00:00' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-08-04 18:00:00' AND '2021-08-04 21:00:00' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지금 옆반 에어컨 상태 알려줘:  21%|██        | 35/166 [00:03<00:15,  8.20it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp = '2021-08-05 14:30:00' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 이번주 우리반 평균 온도 알려줘:  22%|██▏       | 36/166 [00:03<00:15,  8.20it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-01 00:00:00' AND '2021-08-07 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 이번달 우리반 설정온도 최대값과 최소값 알려줘:  22%|██▏       | 37/166 [00:03<00:09, 13.24it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-01 00:00:00' AND '2021-08-05 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반과 옆반중 더 추운곳은 어디야?:  23%|██▎       | 38/166 [00:03<00:09, 13.24it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB5')) AND timestamp = '2021-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB7')) AND timestamp = '2021-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 에어컨 켜져있어?:  23%|██▎       | 39/166 [00:03<00:09, 13.24it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp = '2021-08-05 14:30:00' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 1년 전 옆반 온도는?:  25%|██▍       | 41/166 [00:03<00:09, 13.24it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2020-08-05 00:00:00' AND '2020-08-05 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing How hot was our class over the last month?:  26%|██▌       | 43/166 [00:03<00:09, 13.24it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-30 00:00:00' AND '2021-08-04 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리 반 에어컨이 가장 오래 작동했던 날은 언제야?:  27%|██▋       | 44/166 [00:03<00:09, 13.24it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND oper = True AND timestamp BETWEEN '2021-07-30 00:00:00' AND '2021-08-05 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 어제 전원 켰어?:  27%|██▋       | 45/166 [00:04<00:05, 20.52it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-04 00:00:00' AND '2021-08-04 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 어제 우리반과 옆반의 설정온도 차이 알려줘:  28%|██▊       | 46/166 [00:04<00:05, 20.52it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB5')) AND timestamp BETWEEN '2022-09-29 00:00:00' AND '2022-09-29 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB7')) AND timestamp BETWEEN '2022-09-29 00:00:00' AND '2022-09-29 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 오늘 우리반과 옆반의 평균 온도차이 알려줘:  28%|██▊       | 47/166 [00:04<00:05, 20.52it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB5')) AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB7')) AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 작년 겨울 우리반 평균온도 알려줘:  29%|██▉       | 48/166 [00:04<00:05, 20.52it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-12-01 00:00:00' AND '2022-02-28 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올해 여름 앞반 평균온도 알려줘:  30%|██▉       | 49/166 [00:04<00:05, 20.52it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp BETWEEN '2022-06-01 00:00:00' AND '2022-08-31 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올여름 제일 더웠던 날 알려줘:  30%|███       | 50/166 [00:04<00:08, 13.74it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-06-01 00:00:00' AND '2022-08-31 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올해 봄 옆반 제일 추웠던 날 알려줘:  31%|███       | 51/166 [00:04<00:08, 13.74it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2022-03-01 00:00:00' AND '2022-05-31 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 4월 앞반 평균온도 알려줘:  31%|███▏      | 52/166 [00:05<00:08, 13.74it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp BETWEEN '2022-04-01 00:00:00' AND '2022-04-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 이번달 중 우리반 온도가 가장 덜 더운날이 언제야?:  32%|███▏      | 53/166 [00:05<00:08, 13.74it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-01 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 2주전 우리반과 옆반 합쳐서 설정온도가 가장 낮은날이 언제야?:  33%|███▎      | 54/166 [00:05<00:13,  8.60it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-12 00:00:00' AND '2022-09-18 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2022-09-12 00:00:00' AND '2022-09-18 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난주 설정온도 변화 추이 보여줘:  34%|███▎      | 56/166 [00:05<00:12,  8.60it/s]

SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-19 00:00:00' AND '2022-09-25 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반의 가장 최근 설정 온도 알려줘:  34%|███▍      | 57/166 [00:05<00:11,  9.18it/s]

SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-24 00:00:00' AND '2022-09-30 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 옆반의 가장 최근 온도랑 설정온도 알려줘:  35%|███▍      | 58/166 [00:06<00:11,  9.18it/s]

SELECT "timestamp", "roomtemp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2022-09-24 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지금 옆반 너무 추워:  36%|███▌      | 59/166 [00:06<00:11,  9.18it/s]

SELECT "timestamp", "roomtemp", "settemp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 우리반 왜이리 덥노:  36%|███▌      | 60/166 [00:06<00:10, 10.56it/s]

SELECT "timestamp", "roomtemp", "settemp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing What is the current temperature in our class?:  37%|███▋      | 62/166 [00:06<00:09, 10.56it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 8일전 설정온도는?:  39%|███▊      | 64/166 [00:06<00:09, 10.56it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-22 00:00:00' AND '2022-09-22 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 10년 전 오늘 우리반 온도는?:  39%|███▉      | 65/166 [00:06<00:09, 10.56it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2012-09-30 00:00:00' AND '2012-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 에어컨 꺼진 방들 알려줘:  42%|████▏     | 69/166 [00:06<00:09, 10.56it/s]

SELECT "oper", (SELECT name FROM idu_t WHERE id = data_t.idu_id) AS idu_name, "id" FROM "data_t" WHERE oper=false AND timestamp = '2022-09-30 12:00:00' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 지난주 설정온도가 실내온도보다 더 높았던 날은?:  42%|████▏     | 70/166 [00:06<00:09, 10.56it/s]

SELECT "timestamp", "roomtemp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-19 00:00:00' AND '2022-09-25 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반 이번달 제일 추웠던 날은 언제냐?:  43%|████▎     | 71/166 [00:06<00:04, 20.48it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-01 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반과 옆반 이번주 설정온도 차이 보여줘:  43%|████▎     | 72/166 [00:06<00:04, 20.48it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-26 00:00:00' AND '2022-10-02 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2022-09-26 00:00:00' AND '2022-10-02 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 어제 우리반 에어컨 작동 시간 알려줘:  44%|████▍     | 73/166 [00:06<00:04, 20.48it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-29 00:00:00' AND '2022-09-29 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 우리반, 옆반, 앞반 중 가장 추운 방은?:  45%|████▍     | 74/166 [00:06<00:04, 20.48it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 에어켠 제일 세게 킨 방 3개 알려줘:  46%|████▌     | 76/166 [00:06<00:04, 18.78it/s]

SELECT "oper", "settemp", (SELECT name FROM idu_t WHERE id = data_t.idu_id) AS idu_name, "id" FROM "data_t" WHERE timestamp = '2022-09-30 12:00:00' AND "oper" IS NOT NULL AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난 4개월동안 옆반에서 가장 더웠던 날 알려줘.:  46%|████▋     | 77/166 [00:06<00:04, 18.78it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2022-05-29 00:00:00' AND '2022-09-29 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난달에 설정온도랑 현재온도 차이가 제일 많이 났던 날은 언제야?:  47%|████▋     | 78/166 [00:07<00:04, 18.78it/s]

SELECT "timestamp", "settemp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-08-01 00:00:00' AND '2022-08-31 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난 한달간 설정온도 평균을 알려줘.:  48%|████▊     | 79/166 [00:07<00:04, 18.78it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-08-30 00:00:00' AND '2022-09-29 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing What is the temperature difference between our class and the adjacent class right now?:  48%|████▊     | 80/166 [00:07<00:08, 10.43it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 오늘 우리반 에어컨 전원이 처음 켜진 시각 알려줘.:  49%|████▉     | 82/166 [00:07<00:08, 10.43it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 지난주 우리반은 대체로 몇 도로 설정되어 있었나요?:  51%|█████     | 84/166 [00:07<00:07, 10.43it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-19 00:00:00' AND '2022-09-25 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 옆반 어제 아침과 저녁의 설정온도 차이는 얼마나 돼?:  51%|█████     | 85/166 [00:07<00:07, 10.43it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2022-09-29 06:00:00' AND '2022-09-29 09:00:00' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2022-09-29 18:00:00' AND '2022-09-29 21:00:00' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지금 옆반 에어컨 상태 알려줘:  52%|█████▏    | 86/166 [00:07<00:07, 10.43it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp = '2022-09-30 12:00:00' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 이번주 우리반 평균 온도 알려줘:  52%|█████▏    | 87/166 [00:07<00:07, 10.43it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-26 00:00:00' AND '2022-10-02 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 이번달 우리반 설정온도 최대값과 최소값 알려줘:  53%|█████▎    | 88/166 [00:07<00:07, 10.43it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-01 00:00:00' AND '2022-09-30 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반과 옆반중 더 추운곳은 어디야?:  54%|█████▎    | 89/166 [00:07<00:05, 14.51it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB5')) AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB7')) AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 에어컨 켜져있어?:  54%|█████▍    | 90/166 [00:07<00:05, 14.51it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp = '2022-09-30 12:00:00' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 1년 전 옆반 온도는?:  55%|█████▌    | 92/166 [00:07<00:05, 14.51it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-09-30 00:00:00' AND '2021-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing How hot was our class over the last month?:  57%|█████▋    | 94/166 [00:07<00:04, 14.51it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-08-30 00:00:00' AND '2022-09-29 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리 반 에어컨이 가장 오래 작동했던 날은 언제야?:  57%|█████▋    | 95/166 [00:07<00:03, 17.91it/s]03, 17.91it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND oper = True AND timestamp BETWEEN '2022-09-24 00:00:00' AND '2022-09-30 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 어제 전원 켰어?:  58%|█████▊    | 96/166 [00:07<00:03, 17.91it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-29 00:00:00' AND '2022-09-29 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 어제 우리반과 옆반의 설정온도 차이 알려줘:  58%|█████▊    | 97/166 [00:07<00:03, 17.91it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('02_I84')) AND timestamp BETWEEN '2022-09-29 00:00:00' AND '2022-09-29 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('02_I85')) AND timestamp BETWEEN '2022-09-29 00:00:00' AND '2022-09-29 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 오늘 우리반과 옆반의 평균 온도차이 알려줘:  59%|█████▉    | 98/166 [00:07<00:03, 17.91it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('02_I84')) AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('02_I85')) AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 작년 겨울 우리반 평균온도 알려줘:  60%|█████▉    | 99/166 [00:08<00:03, 17.91it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2021-12-01 00:00:00' AND '2022-02-28 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올여름 제일 더웠던 날 알려줘:  61%|██████    | 101/166 [00:08<00:04, 14.76it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-06-01 00:00:00' AND '2022-08-31 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올해 봄 옆반 제일 추웠던 날 알려줘:  61%|██████▏   | 102/166 [00:08<00:04, 14.76it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp BETWEEN '2022-03-01 00:00:00' AND '2022-05-31 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 이번달 중 우리반 온도가 가장 덜 더운날이 언제야?:  63%|██████▎   | 104/166 [00:09<00:05, 11.05it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-01 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 2주전 우리반과 옆반 합쳐서 설정온도가 가장 낮은날이 언제야?:  63%|██████▎   | 105/166 [00:09<00:05, 10.19it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-12 00:00:00' AND '2022-09-18 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp BETWEEN '2022-09-12 00:00:00' AND '2022-09-18 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 저번주 설정온도 변화 추이 보여줘:  64%|██████▍   | 107/166 [00:09<00:05, 10.78it/s]

SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-19 00:00:00' AND '2022-09-25 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반의 가장 최근 설정 온도 알려줘:  65%|██████▌   | 108/166 [00:09<00:05, 10.78it/s]

SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-24 00:00:00' AND '2022-09-30 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 옆반의 가장 최근 온도랑 설정온도 알려줘:  66%|██████▌   | 109/166 [00:09<00:04, 11.49it/s]

SELECT "timestamp", "roomtemp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp BETWEEN '2022-09-24 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지금 옆반 너무 추워:  66%|██████▋   | 110/166 [00:09<00:04, 11.49it/s]

SELECT "timestamp", "roomtemp", "settemp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 우리반 왜이리 덥노:  67%|██████▋   | 111/166 [00:09<00:04, 11.49it/s]

SELECT "timestamp", "roomtemp", "settemp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing What is the current temperature in our class?:  67%|██████▋   | 112/166 [00:09<00:04, 11.49it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 8일전 설정온도는?:  69%|██████▊   | 114/166 [00:09<00:04, 11.49it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-22 00:00:00' AND '2022-09-22 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 10년 전 오늘 우리반 온도는?:  69%|██████▉   | 115/166 [00:09<00:02, 18.18it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2012-09-30 00:00:00' AND '2012-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 에어컨 꺼진 방들 알려줘:  70%|███████   | 117/166 [00:09<00:02, 18.18it/s]

SELECT "oper", (SELECT name FROM idu_t WHERE id = data_t.idu_id) AS idu_name, "id" FROM "data_t" WHERE oper=false AND timestamp = '2022-09-30 12:00:00' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 지난주 설정온도가 실내온도보다 더 높았던 날은?:  71%|███████   | 118/166 [00:09<00:02, 18.18it/s]

SELECT "timestamp", "roomtemp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-19 00:00:00' AND '2022-09-25 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반 이번달 제일 추웠던 날은 언제냐?:  72%|███████▏  | 119/166 [00:09<00:02, 18.18it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-01 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반과 옆반 이번주 설정온도 차이 보여줘:  72%|███████▏  | 120/166 [00:10<00:02, 16.32it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-26 00:00:00' AND '2022-10-02 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp BETWEEN '2022-09-26 00:00:00' AND '2022-10-02 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 어제 우리반 에어컨 작동 시간 알려줘:  73%|███████▎  | 121/166 [00:10<00:02, 16.32it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-29 00:00:00' AND '2022-09-29 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 에어켠 제일 세게 킨 방 3개 알려줘:  74%|███████▍  | 123/166 [00:10<00:02, 16.32it/s]

SELECT "oper", "settemp", (SELECT name FROM idu_t WHERE id = data_t.idu_id) AS idu_name, "id" FROM "data_t" WHERE timestamp = '2022-09-30 12:00:00' AND "oper" IS NOT NULL AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난 4개월동안 옆반에서 가장 더웠던 날 알려줘.:  75%|███████▍  | 124/166 [00:10<00:02, 16.32it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp BETWEEN '2022-05-29 00:00:00' AND '2022-09-29 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난달에 설정온도랑 현재온도 차이가 제일 많이 났던 날은 언제야?:  75%|███████▌  | 125/166 [00:10<00:03, 12.35it/s]

SELECT "timestamp", "settemp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-08-01 00:00:00' AND '2022-08-31 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난 한달간 설정온도 평균을 알려줘.:  76%|███████▌  | 126/166 [00:10<00:03, 12.35it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-08-30 00:00:00' AND '2022-09-29 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing What is the temperature difference between our class and the adjacent class right now?:  77%|███████▋  | 127/166 [00:11<00:04,  9.52it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 오늘 우리반 에어컨 전원이 처음 켜진 시각 알려줘.:  78%|███████▊  | 129/166 [00:11<00:03,  9.52it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 지난주 우리반은 대체로 몇 도로 설정되어 있었나요?:  78%|███████▊  | 130/166 [00:11<00:03,  9.52it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-19 00:00:00' AND '2022-09-25 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 옆반 어제 아침과 저녁의 설정온도 차이는 얼마나 돼?:  79%|███████▉  | 131/166 [00:11<00:03,  9.52it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp BETWEEN '2022-09-29 06:00:00' AND '2022-09-29 09:00:00' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp BETWEEN '2022-09-29 18:00:00' AND '2022-09-29 21:00:00' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지금 옆반 에어컨 상태 알려줘:  80%|███████▉  | 132/166 [00:11<00:03,  9.52it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp = '2022-09-30 12:00:00' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 이번주 우리반 평균 온도 알려줘:  80%|████████  | 133/166 [00:11<00:03,  9.52it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-26 00:00:00' AND '2022-10-02 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 이번달 우리반 설정온도 최대값과 최소값 알려줘:  81%|████████  | 134/166 [00:11<00:03,  9.52it/s]

SELECT "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-01 00:00:00' AND '2022-09-30 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리반과 옆반중 더 추운곳은 어디야?:  81%|████████▏ | 135/166 [00:11<00:02, 14.42it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('02_I84')) AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('02_I85')) AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 에어컨 켜져있어?:  82%|████████▏ | 136/166 [00:11<00:02, 14.42it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp = '2022-09-30 12:00:00' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 1년 전 옆반 온도는?:  83%|████████▎ | 138/166 [00:11<00:01, 14.42it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I85') AND timestamp BETWEEN '2021-09-30 00:00:00' AND '2021-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing How hot was our class over the last month?:  84%|████████▍ | 140/166 [00:11<00:01, 14.42it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-08-30 00:00:00' AND '2022-09-29 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 우리 반 에어컨이 가장 오래 작동했던 날은 언제야?:  85%|████████▍ | 141/166 [00:11<00:01, 17.91it/s]01, 17.91it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND oper = True AND timestamp BETWEEN '2022-09-24 00:00:00' AND '2022-09-30 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 어제 전원 켰어?:  86%|████████▌ | 142/166 [00:11<00:01, 17.91it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I84') AND timestamp BETWEEN '2022-09-29 00:00:00' AND '2022-09-29 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing Why is our classroom so cold:  86%|████████▌ | 143/166 [00:11<00:01, 17.91it/s]

SELECT "timestamp", "roomtemp", "settemp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-05 00:00:00' AND '2021-08-05 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 오늘 아침과 저녁의 온도차이는 얼마나 돼?:  87%|████████▋ | 144/166 [00:11<00:01, 17.91it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-05 06:00:00' AND '2021-08-05 09:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-05 18:00:00' AND '2021-08-05 21:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지금 옆반 온도랑 우리반 온도 알려줘:  87%|████████▋ | 145/166 [00:11<00:01, 17.91it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB7')) AND timestamp = '2021-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB5')) AND timestamp = '2021-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 이번주 우리반과 옆반 온도 변화 추이 비교해줘:  88%|████████▊ | 146/166 [00:11<00:01, 17.91it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-01 00:00:00' AND '2021-08-07 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-08-01 00:00:00' AND '2021-08-07 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난주에 설정온도와 실내온도 차이가 가장 많이 났던 날은?:  89%|████████▊ | 147/166 [00:11<00:00, 20.74it/s]

SELECT "timestamp", "settemp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-07-25 00:00:00' AND '2021-07-31 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 어제 옆반 에어컨 전원 언제 꺼졌는지 알려줘.:  89%|████████▉ | 148/166 [00:11<00:00, 20.74it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2021-08-04 00:00:00' AND '2021-08-04 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 최근에 설정온도가 가장 높았던 날 알려줘:  90%|████████▉ | 149/166 [00:11<00:00, 20.74it/s]

SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-07-30 00:00:00' AND '2021-08-05 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난 3일 동안 우리반 실내 온도 평균 값 알려줘.:  90%|█████████ | 150/166 [00:11<00:00, 20.83it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2021-08-02 00:00:00' AND '2021-08-04 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing Why is our classroom so cold:  91%|█████████ | 151/166 [00:11<00:00, 20.83it/s]

SELECT "timestamp", "roomtemp", "settemp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-30 00:00:00' AND '2022-09-30 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 오늘 아침과 저녁의 온도차이는 얼마나 돼?:  92%|█████████▏| 152/166 [00:11<00:00, 20.83it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-30 06:00:00' AND '2022-09-30 09:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-30 18:00:00' AND '2022-09-30 21:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지금 옆반 온도랑 우리반 온도 알려줘:  92%|█████████▏| 153/166 [00:11<00:00, 20.83it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB7')) AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('01_IB5')) AND timestamp = '2022-09-30 12:00:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 이번주 우리반과 옆반 온도 변화 추이 비교해줘:  93%|█████████▎| 154/166 [00:11<00:00, 20.83it/s]

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-26 00:00:00' AND '2022-10-02 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2022-09-26 00:00:00' AND '2022-10-02 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 현재 설정온도랑 실내온도 차이 알려줘.:  93%|█████████▎| 155/166 [00:12<00:00, 24.21it/s]

SELECT "settemp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp = '2022-09-30 12:00:00' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난주에 설정온도와 실내온도 차이가 가장 많이 났던 날은?:  94%|█████████▍| 156/166 [00:12<00:00, 24.21it/s]

SELECT "timestamp", "settemp", "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-19 00:00:00' AND '2022-09-25 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 어제 옆반 에어컨 전원 언제 꺼졌는지 알려줘.:  95%|█████████▍| 157/166 [00:12<00:00, 24.21it/s]

SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp BETWEEN '2022-09-29 00:00:00' AND '2022-09-29 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 앞반 전원 켜져있어?:  95%|█████████▌| 158/166 [00:12<00:00, 24.21it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp = '2022-09-30 12:00:00' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 어제 전원 껐어?:  96%|█████████▌| 159/166 [00:12<00:00, 24.21it/s]

SELECT "oper", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-29 00:00:00' AND '2022-09-29 23:59:59' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 최근에 설정온도가 가장 높았던 날 알려줘:  96%|█████████▋| 160/166 [00:12<00:00, 24.21it/s]

SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-24 00:00:00' AND '2022-09-30 23:59:59' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난 3일 동안 우리반 실내 온도 평균 값 알려줘.:  98%|█████████▊| 163/166 [00:12<00:00, 26.43it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id = (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp BETWEEN '2022-09-27 00:00:00' AND '2022-09-29 23:59:59' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지금 옆반 온도랑 우리반 온도 알려줘:  99%|█████████▉| 164/166 [00:12<00:00, 26.43it/s]

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('02_I85')) AND timestamp = '2022-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name IN ('02_I84')) AND timestamp = '2022-08-05 14:30:00' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 앞반 전원 켜져있어?: 100%|██████████| 166/166 [00:12<00:00, 13.58it/s]

# Eval_query

In [110]:
def eval_query(db_gt_filename, cand_response_filename):
    db_gts = read_json(db_gt_filename)
    cand_responses = read_json(cand_response_filename)

    evaluation_reports = []

    with tqdm(total=len(cand_responses)) as pbar:
        for cand_response in cand_responses:
            pbar.set_description(f"Processing {cand_response['Input']}")
            input = cand_response["Input"]
            scenario = cand_response["Scenario"]

            if "Metadata" in cand_response:
                metadata = cand_response["Metadata"]
            else:
                metadata = None
            # 관계 없는 질문들은 건너뛰자
            gt_report = [d for d in db_gts if d["Input"] == input and d["Scenario"] == scenario]
            assert len(gt_report) <= 1
            if len(gt_report) == 0:
                pbar.update(1)
                continue
            gt_report = gt_report[0]
            if gt_report["Result"] == []:
                pbar.update(1)
                continue
            
            evaluation_report = defaultdict(lambda: None)
            evaluation_report["Input"] = input
            evaluation_report["Scenario"] = scenario
            
            if isinstance(cand_response["Candidate"], dict) and ("Instruction Set" in cand_response["Candidate"] or "지시" in cand_response["Candidate"]):
                if "Instruction Set" in cand_response["Candidate"]:
                    cand_instruction_set = cand_response["Candidate"]["Instruction Set"]
                elif "지시" in cand_response["Candidate"]:
                    cand_instruction_set = cand_response["Candidate"]["지시"]
                    
                evaluation_report[EM.json_structure] = True
            else:
                evaluation_report[EM.json_structure] = False
                try:
                    import re
                    # get data between "Instruction Set": [ and the last]
                    cand_instruction_set = re.search(r'(?<="Instruction Set": \[)(.*)(?=\])', cand_response["Candidate"], re.DOTALL).group(0)
                    # find all {"type": ~ }, {"type": ~ }, {"type": ~ }
                    cand_instruction_set = re.findall(r'({"type".*?})', cand_instruction_set)
                    # print(list(cand_instruction_set))
                    cand_instruction_set = [eval(d) for d in cand_instruction_set]
                except Exception as e:
                    evaluation_report[EM.json_structure] = False
                    print("Failed to parse input: ", input, cand_response["Candidate"])
                    print(e)
                    evaluation_reports.append(evaluation_report)
                    pbar.update(1)
                    print(evaluation_report)
                    continue
                    
            cand_report = run_query_and_get_report(input, metadata, scenario, cand_instruction_set) 
            
            # print(f"Input: {input}")
            
            gt_results, cand_results = gt_report["Result"], cand_report["Result"]
            gt_cols, gt_rows = set(gt_results["result_columns"]), set(gt_results["result_indices"])
            cand_cols, cand_rows = set(cand_results["result_columns"]), set(cand_results["result_indices"])

            # True Positive: 공통된 컬럼과 로우의 모든 조합
            true_positive = len(gt_cols & cand_cols) * len(gt_rows & cand_rows)

            # Ground Truth의 총 조합에서 TP를 뺀 값이 FN
            false_negative = (len(gt_cols) * len(gt_rows)) - true_positive

            # Candidate의 총 조합에서 TP를 뺀 값이 FP
            false_positive = (len(cand_cols) * len(cand_rows)) - true_positive

            # # print(len(gt_flatten), len(cand_flatten))
            
            
            # # check if all gt results are in cand results
            # true_positive, false_positive, false_negative = 0, 0, 0
            # for gt_data in gt_flatten:
            #     try:
            #         cand_flatten.remove(gt_data)
            #         true_positive += 1
            #     except ValueError as e:
            #         false_negative += 1
            
            # false_positive = len(cand_flatten)
            
            evaluation_report[EM.true_positive] = true_positive
            evaluation_report[EM.false_positive] = false_positive
            evaluation_report[EM.false_negative] = false_negative
            
            evaluation_reports.append(evaluation_report)
            # print(evaluation_report)
            
            pbar.update(1)

    eval_df = pd.DataFrame(evaluation_reports)
    # print(eval_df)

    eval_df['ExactMatch'] = eval_df.apply(lambda x: x[EM.false_positive] == 0 and x[EM.false_negative] == 0, axis=1).astype(int)
    # eval_df['TruePositive'] = eval_df['TruePositive'].astype(int)
    # eval_df['FalsePositive'] = eval_df['FalsePositive'].astype(int)
    # eval_df['FalseNegative'] = eval_df['FalseNegative'].astype(int)

    final_result = {}

    for col in ["JsonStructureCorrectness", "ExactMatch"]:
        # print(f"{col}: {eval_df[col].mean()}")
        final_result[col] = eval_df[col].mean()
    
    # normalize per query
    eval_df["Total"] = eval_df[EM.true_positive] + eval_df[EM.false_positive] + eval_df[EM.false_negative]
    eval_df["TruePositive"] = eval_df[EM.true_positive] / eval_df["Total"]
    eval_df["FalsePositive"] = eval_df[EM.false_positive] / eval_df["Total"]
    eval_df["FalseNegative"] = eval_df[EM.false_negative] / eval_df["Total"]

    # # F1 score except nans.
    truepos_sum, falsepos_sum, falseneg_sum = eval_df[EM.true_positive].sum(), eval_df[EM.false_positive].sum(), eval_df[EM.false_negative].sum()
    precision = truepos_sum / (truepos_sum + falsepos_sum)
    recall = truepos_sum / (truepos_sum + falseneg_sum)
    f1 = 2 * (precision * recall) / (precision + recall)
    # print(f"F1: {f1}")
    final_result["F1"] = f1
    final_result["Recall"] = recall
    for col in final_result:
        print(f"{col}: {final_result[col]:.2f}")
    
    return eval_df

# WoAll

In [ ]:
db_gt_filename = f"{BASE_DIR}/experiments/db_gt.json"
cand_response_filename = "response-sh2orc-Llama-3.1-Korean-8B-Instruct-r128_a256_woall-checkpoint-60"
cand_response_filename = "response-sh2orc-Llama-3.1-Korean-8B-Instruct-v5_r64_a128_woall-checkpoint-72"
# cand_response_filename = "r-v5_r32_a64_woall-checkpoint-70-batch"
# cand_response_filename = "r-v6_r64_a128_woall_shorten-checkpoint-53"
cand_response_filename = f"{BASE_DIR}/experiments/{cand_response_filename}.json"

eval_df = eval_query(db_gt_filename, cand_response_filename)

# print(eval_df)

In [ ]:
eval_df[eval_df["ExactMatch"] == 0][["Input", "Scenario", "FalsePositive", "FalseNegative"]]

# FI

In [ ]:
db_gt_filename = f"{BASE_DIR}/experiments/db_gt.json"
cand_response_filename = "r-v5_r256_a512_FI-checkpoint-43-batch"
cand_response_filename = f"{BASE_DIR}/experiments/{cand_response_filename}.json"

eval_df = eval_query(db_gt_filename, cand_response_filename)

print(eval_df)

In [ ]:
eval_df

In [ ]:
db_gt_filename = f"{BASE_DIR}/experiments/db_gt.json"
cand_response_filename = "response-sh2orc-Llama-3.1-Korean-8B-Instruct-r256_a512_ISP-checkpoint-104"
cand_response_filename = f"{BASE_DIR}/experiments/{cand_response_filename}.json"

eval_df = eval_query(db_gt_filename, cand_response_filename)

In [ ]:
(eval_df)

# Ours

In [ ]:
db_gt_filename = f"{BASE_DIR}/experiments/db_gt.json"
cand_response_filename = "response-sh2orc-Llama-3.1-Korean-8B-Instruct-v5_r256_a512_ours-checkpoint-20"
# cand_response_filename = "r-v5_r128_a256_ours-checkpoint-52-batch"
# cand_response_filename = "r-v5_r128_a256_ours_noexample-checkpoint-50-batch"
# cand_response_filename = "r-v6_r128_a256_ours-checkpoint-52"
# cand_response_filename = "r-v6_r256_a512_ours-checkpoint-40"
# cand_response_filename = "r-v6_r256_a512_ours_shorten-checkpoint-30"
cand_response_filename = f"{BASE_DIR}/experiments/{cand_response_filename}.json"

eval_df = eval_query(db_gt_filename, cand_response_filename)

In [ ]:
eval_df[eval_df["ExactMatch"] == 0][["Input", "Scenario", "FalsePositive", "FalseNegative"]]

In [134]:
def build_query_groundtruth():
    ds_ts = []
    dt_tr = []
    # base_dataset_dir = Path(f"{BASE_DIR}/finetuning/dataset/v5-250228-multimetadata")
    base_dataset_dir = Path(f"{BASE_DIR}/finetuning/dataset/v7-250309-reduceinputanddatefunctioncall")
    
    for directory in base_dataset_dir.iterdir():
        if directory.is_dir() and "scenario" in directory.name:
            ts = read_json(f"{directory}/onlyq_tr.json")
            metadata = read_json(f"{directory}/metadata.json")
            for i, d in enumerate(ts):
                ts[i]["Scenario"] = directory.name
                ts[i]["Metadata"] = metadata
            ds_ts.extend(ts)
            

            # tr = read_json(f"{directory}/onlyq_tr.json")
            # for i, d in enumerate(tr):
            #     tr[i]["Scenario"] = directory.name
            # dt_tr.extend(tr)
    
    ds = ds_ts
    print(len(ds))
    
    db_gt_filename = f"{BASE_DIR}/experiments/db_gt_v7.json"
    
    with open(db_gt_filename, "w", encoding="utf-8") as f:
        f.write("[")
        with tqdm(total=len(ds)) as pbar:
            for d in ds:
                pbar.set_description(f"Processing {d['Input']}")
                # print("--")
                
                input = d["Input"]
                # print(f"Input: {input}")
                scenario = d["Scenario"]
                
                metadata = d["Metadata"]
                response = d["Response"]
                # instruction_set = response["Instruction Set"]
                instruction_set = response["Instructions"]
                # print(f"Instruction Set: {type(instruction_set)}, {len(instruction_set)}")
                input_report = run_query_and_get_report(input, metadata, scenario, instruction_set)
                
                
                try:
                    # print(input_report)
                    # del input_report["Metadata"]
                    f.write(json.dumps(input_report, ensure_ascii=False) + ",\n")
                except Exception as e:
                    logger.error(f"Error outside: {e}")
                    logger.error(f"Invoked with Input: {input}")
                    logger.error(f"Input Report: {input_report}")
                    # exit()
                    raise e
                
                # print("\n")
                pbar.update(1)
    
        # make it json array format
        # remove last comma
        f.seek(f.tell() - 2, 0)
        f.write("]")

build_query_groundtruth()

11

Processing 어제 우리반과 옆반의 설정온도 차이 알려줘:   0%|          | 0/11 [00:00<?, ?it/s]

timestamp >= DATE '2022-09-30' - INTERVAL '1 day' AND timestamp < DATE '2022-09-30'
SELECT "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE '2022-09-30' - INTERVAL '1 day' AND timestamp < DATE '2022-09-30' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp >= DATE '2022-09-30' - INTERVAL '1 day' AND timestamp < DATE '2022-09-30' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 오늘 우리반과 옆반의 평균 온도차이 알려줘:   9%|▉         | 1/11 [00:00<00:00, 44.19it/s]

timestamp >= DATE '2022-09-30' AND timestamp < DATE '2022-09-30' + INTERVAL '1 day'
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE '2022-09-30' AND timestamp < DATE '2022-09-30' + INTERVAL '1 day' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp >= DATE '2022-09-30' AND timestamp < DATE '2022-09-30' + INTERVAL '1 day' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 작년 겨울 우리반 평균온도 알려줘:  18%|█▊        | 2/11 [00:00<00:00, 44.32it/s]

timestamp >= DATE '2022-12-01' - INTERVAL '1 year' AND timestamp < DATE '2022-03-01'
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE '2022-12-01' - INTERVAL '1 year' AND timestamp < DATE '2022-03-01' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올해 여름 앞반 평균온도 알려줘:  27%|██▋       | 3/11 [00:00<00:01,  5.28it/s]

timestamp >= DATE '2022-06-01' AND timestamp < DATE '2022-09-01'
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp >= DATE '2022-06-01' AND timestamp < DATE '2022-09-01' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올여름 제일 더웠던 날 알려줘:  36%|███▋      | 4/11 [00:00<00:01,  5.73it/s]

timestamp >= DATE '2022-06-01' AND timestamp < DATE '2022-09-01'
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE '2022-06-01' AND timestamp < DATE '2022-09-01' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 올해 봄 옆반 제일 추웠던 날 알려줘:  45%|████▌     | 5/11 [00:00<00:01,  4.95it/s]

timestamp >= DATE '2022-03-01' AND timestamp < DATE '2022-06-01'
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp >= DATE '2022-03-01' AND timestamp < DATE '2022-06-01' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 4월 앞반 평균온도 알려줘:  55%|█████▍    | 6/11 [00:01<00:02,  2.38it/s]

timestamp >= DATE '2022-04-01' AND timestamp < DATE '2022-05-01'
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp >= DATE '2022-04-01' AND timestamp < DATE '2022-05-01' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 이번달 중 우리반 온도가 가장 덜 더운날이 언제야?:  64%|██████▎   | 7/11 [00:02<00:01,  2.92it/s]

timestamp >= DATE '2022-9-01' AND timestamp < DATE '2022-9-01' + INTERVAL '1 month'
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE '2022-9-01' AND timestamp < DATE '2022-9-01' + INTERVAL '1 month' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 2주전 우리반과 옆반 합쳐서 설정온도가 가장 낮은날이 언제야?:  73%|███████▎  | 8/11 [00:02<00:01,  2.68it/s]

timestamp >= DATE_TRUNC('week', DATE '2022-09-30' - INTERVAL '2 week') AND timestamp < DATE_TRUNC('week', DATE '2022-09-30' - INTERVAL '1 week')
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE_TRUNC('week', DATE '2022-09-30' - INTERVAL '2 week') AND timestamp < DATE_TRUNC('week', DATE '2022-09-30' - INTERVAL '1 week') AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp >= DATE_TRUNC('week', DATE '2022-09-30' - INTERVAL '2 week') AND timestamp < DATE_TRUNC('week', DATE '2022-09-30' - INTERVAL '1 week') AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난주 설정온도 변화 추이 보여줘:  91%|█████████ | 10/11 [00:02<00:00,  3.20it/s]

timestamp >= DATE_TRUNC('week', DATE '2022-09-30' - INTERVAL '1 week') AND timestamp < DATE_TRUNC('week', DATE '2022-09-30')
SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE_TRUNC('week', DATE '2022-09-30' - INTERVAL '1 week') AND timestamp < DATE_TRUNC('week', DATE '2022-09-30') AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지난주 설정온도 변화 추이 보여줘: 100%|██████████| 11/11 [00:02<00:00,  4.00it/s]

In [135]:
def eval_query_gtgt(db_gt_filename, cand_response_filename):
    db_gts = read_json(db_gt_filename)
    cand_responses = read_json(cand_response_filename)
    # metadata_ = read_json(f"{BASE_DIR}/finetuning/dataset/v7-250309-reduceinputanddatefunctioncall/scenario1/metadata.json")
    evaluation_reports = []

    with tqdm(total=len(cand_responses)) as pbar:
        for cand_report in cand_responses:
            pbar.set_description(f"Processing {cand_report['Input']}")
            input = cand_report["Input"]
            scenario = cand_report["Scenario"]


            # 관계 없는 질문들은 건너뛰자
            gt_report = [d for d in db_gts if d["Input"] == input and d["Scenario"] == scenario]
            
            
            assert len(gt_report) <= 1
            if len(gt_report) == 0:
                pbar.update(1)
                continue
            gt_report = gt_report[0]
            if gt_report["Result"] == []:
                pbar.update(1)
                continue
            
            
            # print(f"Input: {input}")
            
            gt_results, cand_results = gt_report["Result"], cand_report["Result"]
            cand_results = cand_results[0]

            gt_rows = []
            for gt_result in gt_results:
                gt_rows.extend(gt_result["result_indices"])

            gt_rows = set(gt_rows)
            gt_cols = set(gt_results[0]["result_columns"])
            cand_cols, cand_rows = set(cand_results["result_columns"]), set(cand_results["result_indices"])

            gt_cols.remove("id")
            cand_cols.remove("id")
            # gt_cols.remove("idu")
            cand_cols.remove("idu")

            # True Positive: 공통된 컬럼과 로우의 모든 조합
            true_positive = len(gt_cols & cand_cols) * len(gt_rows & cand_rows)

            # Ground Truth의 총 조합에서 TP를 뺀 값이 FN
            false_negative = (len(gt_cols) * len(gt_rows)) - true_positive

            # Candidate의 총 조합에서 TP를 뺀 값이 FP
            false_positive = (len(cand_cols) * len(cand_rows)) - true_positive
            
            evaluation_report = defaultdict(lambda: None)
            evaluation_report[EM.true_positive] = true_positive
            evaluation_report[EM.false_positive] = false_positive
            evaluation_report[EM.false_negative] = false_negative
            evaluation_report["Input"] = input
            evaluation_reports.append(evaluation_report)
            # print(evaluation_report)
            
            pbar.update(1)

    eval_df = pd.DataFrame(evaluation_reports)
    # print(eval_df)

    eval_df['ExactMatch'] = eval_df.apply(lambda x: x[EM.false_positive] == 0 and x[EM.false_negative] == 0, axis=1).astype(int)
    # eval_df['TruePositive'] = eval_df['TruePositive'].astype(int)
    # eval_df['FalsePositive'] = eval_df['FalsePositive'].astype(int)
    # eval_df['FalseNegative'] = eval_df['FalseNegative'].astype(int)

    final_result = {}

    for col in ["ExactMatch"]:
        # print(f"{col}: {eval_df[col].mean()}")
        final_result[col] = eval_df[col].mean()
    
    # normalize per query
    eval_df["Total"] = eval_df[EM.true_positive] + eval_df[EM.false_positive] + eval_df[EM.false_negative]
    eval_df["TruePositive"] = eval_df[EM.true_positive] / eval_df["Total"]
    eval_df["FalsePositive"] = eval_df[EM.false_positive] / eval_df["Total"]
    eval_df["FalseNegative"] = eval_df[EM.false_negative] / eval_df["Total"]

    # # F1 score except nans.
    truepos_sum, falsepos_sum, falseneg_sum = eval_df[EM.true_positive].sum(), eval_df[EM.false_positive].sum(), eval_df[EM.false_negative].sum()
    precision = truepos_sum / (truepos_sum + falsepos_sum)
    recall = truepos_sum / (truepos_sum + falseneg_sum)
    f1 = 2 * (precision * recall) / (precision + recall)
    # print(f"F1: {f1}")
    final_result["F1"] = f1
    final_result["Recall"] = recall
    for col in final_result:
        print(f"{col}: {final_result[col]:.2f}")
    
    return eval_df

db_gt_filename = f"{BASE_DIR}/experiments/db_gt.json"
cand_response_filename = f"{BASE_DIR}/experiments/db_gt_v7.json"

eval_df = eval_query_gtgt(db_gt_filename, cand_response_filename)
print(eval_df)

Processing 지난주 설정온도 변화 추이 보여줘: 100%|██████████| 11/11 [00:00<00:00, 237.24it/s]

ExactMatch: 0.80
F1: 0.95
Recall: 1.00
   TruePositive  FalsePositive  FalseNegative  \
0           1.0            0.0            0.0
1           1.0            0.0            0.0
2           1.0            0.0            0.0
3           1.0            0.0            0.0
4           0.5            0.5            0.0
5           0.5            0.5            0.0
6           1.0            0.0            0.0
7           1.0            0.0            0.0
8           1.0            0.0            0.0
9           1.0            0.0            0.0

                                Input  ExactMatch   Total
0             어제 우리반과 옆반의 설정온도 차이 알려줘           1    2832
1             오늘 우리반과 옆반의 평균 온도차이 알려줘           1    2846
2                  작년 겨울 우리반 평균온도 알려줘           1  128161
3                   올해 여름 앞반 평균온도 알려줘           1   44080
4                    올여름 제일 더웠던 날 알려줘           0   88160
5                올해 봄 옆반 제일 추웠던 날 알려줘           0  262082
6                      4월 앞반 평균온도 알려줘           1   43200
7        이번달 중 우리반 온도가 가장 덜 더운날이 언제야?           1   85116
8  2주전 우리반과 옆반 합쳐서 설정온도가 가장 낮은날이 언제야?           1   39740
9                  지난주 설정온도 변화 추이 보여줘           1   19838

In [136]:
eval_df[eval_df["ExactMatch"] == 0][["Input"]]

                  Input
4      올여름 제일 더웠던 날 알려줘
5  올해 봄 옆반 제일 추웠던 날 알려줘

In [ ]:
def eval_query_v6v7(db_gt_filename, cand_response_filename):
    db_gts = read_json(db_gt_filename)
    cand_responses = read_json(cand_response_filename)
    # metadata_ = read_json(f"{BASE_DIR}/finetuning/dataset/v7-250309-reduceinputanddatefunctioncall/scenario1/metadata.json")
    evaluation_reports = []

    with tqdm(total=len(cand_responses)) as pbar:
        for cand_response in cand_responses:
            pbar.set_description(f"Processing {cand_response['Input']}")
            input = cand_response["Input"]
            scenario = cand_response["Scenario"]

            if "Metadata" in cand_response:
                metadata = cand_response["Metadata"]
            else:
                # metadata = metadata_
                metadata = None
            # 관계 없는 질문들은 건너뛰자
            gt_report = [d for d in db_gts if d["Input"] == input and d["Scenario"] == scenario]
            assert len(gt_report) <= 1
            if len(gt_report) == 0:
                pbar.update(1)
                continue
            gt_report = gt_report[0]
            if gt_report["Result"] == []:
                pbar.update(1)
                continue
            
            evaluation_report = defaultdict(lambda: None)
            evaluation_report["Input"] = input
            evaluation_report["Scenario"] = scenario
            
            if isinstance(cand_response["Candidate"], dict) and ("Instruction Set" in cand_response["Candidate"] or "지시" in cand_response["Candidate"] or "Instructions" in cand_response["Candidate"]):
                if "Instruction Set" in cand_response["Candidate"]:
                    cand_instruction_set = cand_response["Candidate"]["Instruction Set"]
                elif "지시" in cand_response["Candidate"]:
                    cand_instruction_set = cand_response["Candidate"]["지시"]
                elif "Instructions" in cand_response["Candidate"]:
                    cand_instruction_set = cand_response["Candidate"]["Instructions"]

                evaluation_report[EM.json_structure] = True
            else:
                evaluation_report[EM.json_structure] = False
                try:
                    import re
                    # get data between "Instruction Set": [ and the last]
                    cand_instruction_set = re.search(r'(?<="Instruction Set": \[)(.*)(?=\])', cand_response["Candidate"], re.DOTALL).group(0)
                    # find all {"type": ~ }, {"type": ~ }, {"type": ~ }
                    cand_instruction_set = re.findall(r'({"type".*?})', cand_instruction_set)
                    # print(list(cand_instruction_set))
                    cand_instruction_set = [eval(d) for d in cand_instruction_set]
                except Exception as e:
                    evaluation_report[EM.json_structure] = False
                    print("Failed to parse input: ", input, cand_response["Candidate"])
                    print(e)
                    evaluation_reports.append(evaluation_report)
                    pbar.update(1)
                    print(evaluation_report)
                    continue
                    
            cand_report = run_query_and_get_report(input, metadata, scenario, cand_instruction_set) 
            
            # print(f"Input: {input}")
            
            gt_results, cand_results = gt_report["Result"], cand_report["Result"]

            if len(cand_results) == 0:
                evaluation_report[EM.json_structure] = False
                # evaluation_report[EM.true_positive] = 0
                # evaluation_report[EM.false_positive] = false_positive
                # evaluation_report[EM.false_negative] = false_negative
                            
                evaluation_reports.append(evaluation_report)
                # print(evaluation_report)
                            
                pbar.update(1)
                continue
            cand_results = cand_results[0]

            gt_rows = []
            for gt_result in gt_results:
                gt_rows.extend(gt_result["result_indices"])
            
            gt_rows = set(gt_rows)
            gt_cols = set(gt_results[0]["result_columns"])
            cand_cols, cand_rows = set(cand_results["result_columns"]), set(cand_results["result_indices"])

            gt_cols.remove("id")
            cand_cols.remove("id")
            # gt_cols.remove("idu")
            cand_cols.remove("idu")

            # True Positive: 공통된 컬럼과 로우의 모든 조합
            true_positive = len(gt_cols & cand_cols) * len(gt_rows & cand_rows)

            # Ground Truth의 총 조합에서 TP를 뺀 값이 FN
            false_negative = (len(gt_cols) * len(gt_rows)) - true_positive

            # Candidate의 총 조합에서 TP를 뺀 값이 FP
            false_positive = (len(cand_cols) * len(cand_rows)) - true_positive


            # print(len(gt_flatten), len(cand_flatten))
            
            # gt_counter = Counter(gt_flatten)
            # cand_counter = Counter(cand_flatten)

            # true_positive = sum(min(gt_counter[item], cand_counter.get(item, 0)) for item in gt_counter)
            # false_negative = sum(gt_counter[item] - min(gt_counter[item], cand_counter.get(item, 0)) for item in gt_counter)
            # false_positive = sum(cand_counter[item] - min(cand_counter[item], gt_counter.get(item, 0)) for item in cand_counter)
            
            # # check if all gt results are in cand results
            # true_positive, false_positive, false_negative = 0, 0, 0
            # for gt_data in gt_flatten:
            #     try:
            #         cand_flatten.remove(gt_data)
            #         true_positive += 1
            #     except ValueError as e:
            #         false_negative += 1
            
            # false_positive = len(cand_flatten)
            
            evaluation_report[EM.true_positive] = true_positive
            evaluation_report[EM.false_positive] = false_positive
            evaluation_report[EM.false_negative] = false_negative
            
            evaluation_reports.append(evaluation_report)
            # print(evaluation_report)
            
            pbar.update(1)

    eval_df = pd.DataFrame(evaluation_reports)
    # print(eval_df)

    eval_df['ExactMatch'] = eval_df.apply(lambda x: x[EM.false_positive] == 0 and x[EM.false_negative] == 0, axis=1).astype(int)
    # eval_df['TruePositive'] = eval_df['TruePositive'].astype(int)
    # eval_df['FalsePositive'] = eval_df['FalsePositive'].astype(int)
    # eval_df['FalseNegative'] = eval_df['FalseNegative'].astype(int)

    final_result = {}

    for col in ["JsonStructureCorrectness", "ExactMatch"]:
        # print(f"{col}: {eval_df[col].mean()}")
        final_result[col] = eval_df[col].mean()
    
    # normalize per query
    eval_df["Total"] = eval_df[EM.true_positive] + eval_df[EM.false_positive] + eval_df[EM.false_negative]
    eval_df["TruePositive"] = eval_df[EM.true_positive] / eval_df["Total"]
    eval_df["FalsePositive"] = eval_df[EM.false_positive] / eval_df["Total"]
    eval_df["FalseNegative"] = eval_df[EM.false_negative] / eval_df["Total"]

    # # F1 score except nans.
    truepos_sum, falsepos_sum, falseneg_sum = eval_df[EM.true_positive].sum(), eval_df[EM.false_positive].sum(), eval_df[EM.false_negative].sum()
    precision = truepos_sum / (truepos_sum + falsepos_sum)
    recall = truepos_sum / (truepos_sum + falseneg_sum)
    f1 = 2 * (precision * recall) / (precision + recall)
    # print(f"F1: {f1}")
    final_result["F1"] = f1
    final_result["Recall"] = recall
    for col in final_result:
        print(f"{col}: {final_result[col]:.2f}")
    
    return eval_df

In [12]:
db_gt_filename = f"{BASE_DIR}/experiments/db_gt.json"
cand_response_filename = f"{BASE_DIR}/experiments/r-v7_r256_a512_ours-checkpoint-100.json"

eval_df = eval_query_v6v7(db_gt_filename, cand_response_filename)
print(eval_df)

Processing Why is our classroom so cold:   0%|          | 0/12 [00:00<?, ?it/s]

timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00''
SELECT "timestamp", "roomtemp", "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

ERROR:db.instance:An error occurred while selecting data with
SELECT "timestamp", "roomtemp", "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
ERROR:db.instance:Error message: syntax error at or near "2022"
LINE 1: ...ERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30...
                                                             ^

ERROR:__main__:Error inside: 'NoneType' object has no attribute 'columns'
ERROR:__main__:Invoked with Query: {'columns': ['timestamp', 'roomtemp', 'settemp'], 'temporal': "[TIMESTAMP 'CURRENT_TIMESTAMP' - INTERVAL '5 minutes', TIMESTAMP 'CURRENT_TIMESTAMP')", 'spatials': ['01_IB5'], 'metadata': {'site_name': 'YongDongIllHighSchool', 'user_name': '홍길동', 'user_role': 'customer', 'idu_name': '01_IB5', 'idu_mapping': {'01_IB5': ['우리반'], '01_IB7': ['옆반'], '02_I81': ['앞반']}, 'modality_mapping': {'roomtemp': ['실내온도'], 'settemp': ['설정온도'], 'oper': ['전원']}, 'current_datetime': '2022-09-30 12:00:00'}}, qr
Processing 오늘 아침과 저녁의 온도차이는 얼마나 돼?:   0%|          | 0/12 [00:00<?, ?it/s]

timestamp >= DATE '2022-09-30' AND timestamp < DATE '2022-09-30' + INTERVAL '1 day'
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE '2022-09-30' AND timestamp < DATE '2022-09-30' + INTERVAL '1 day' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 지금 옆반 온도랑 우리반 온도 알려줘:   8%|▊         | 1/12 [00:00<00:00, 64.03it/s]

timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00''
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

ERROR:db.instance:An error occurred while selecting data with
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
ERROR:db.instance:Error message: syntax error at or near "2022"
LINE 1: ...ERE name = '01_IB7') AND timestamp >= TIMESTAMP ''2022-09-30...
                                                             ^

SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

ERROR:db.instance:An error occurred while selecting data with
SELECT "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
ERROR:db.instance:Error message: syntax error at or near "2022"
LINE 1: ...ERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30...
                                                             ^

ERROR:__main__:Error inside: 'NoneType' object has no attribute 'columns'
ERROR:__main__:Invoked with Query: {'columns': ['roomtemp'], 'temporal': "[TIMESTAMP 'CURRENT_TIMESTAMP' - INTERVAL '5 minutes', TIMESTAMP 'CURRENT_TIMESTAMP')", 'spatials': ['01_IB7', '01_IB5'], 'metadata': {'site_name': 'YongDongIllHighSchool', 'user_name': '홍길동', 'user_role': 'customer', 'idu_name': '01_IB5', 'idu_mapping': {'01_IB5': ['우리반'], '01_IB7': ['옆반'], '02_I81': ['앞반']}, 'modality_mapping': {'roomtemp': ['실내온도'], 'settemp': ['설정온도'], 'oper': ['전원']}, 'current_datetime': '2022-09-30 12:00:00'}}, qr
Processing 이번주 우리반과 옆반 온도 변화 추이 비교해줘:   8%|▊         | 1/12 [00:00<00:00, 51.98it/s]

timestamp >= DATE 'CURRENT_WEEK' AND timestamp < DATE 'CURRENT_DAY'
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE 'CURRENT_WEEK' AND timestamp < DATE 'CURRENT_DAY' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

ERROR:db.instance:An error occurred while selecting data with
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE 'CURRENT_WEEK' AND timestamp < DATE 'CURRENT_DAY' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
ERROR:db.instance:Error message: invalid input syntax for type date: "CURRENT_WEEK"
LINE 1: ...du_t WHERE name = '01_IB5') AND timestamp >= DATE 'CURRENT_W...
                                                             ^

SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp >= DATE 'CURRENT_WEEK' AND timestamp < DATE 'CURRENT_DAY' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

ERROR:db.instance:An error occurred while selecting data with
SELECT "timestamp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp >= DATE 'CURRENT_WEEK' AND timestamp < DATE 'CURRENT_DAY' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
ERROR:db.instance:Error message: invalid input syntax for type date: "CURRENT_WEEK"
LINE 1: ...du_t WHERE name = '01_IB7') AND timestamp >= DATE 'CURRENT_W...
                                                             ^

ERROR:__main__:Error inside: 'NoneType' object has no attribute 'columns'
ERROR:__main__:Invoked with Query: {'columns': ['timestamp', 'roomtemp'], 'temporal': "[DATE 'CURRENT_WEEK', DATE 'CURRENT_DAY')", 'spatials': ['01_IB5', '01_IB7'], 'metadata': {'site_name': 'YongDongIllHighSchool', 'user_name': '홍길동', 'user_role': 'customer', 'idu_name': '01_IB5', 'idu_mapping': {'01_IB5': ['우리반'], '01_IB7': ['옆반'], '02_I81': ['앞반']}, 'modality_mapping': {'roomtemp': ['실내온도'], 'settemp': ['설정온도'], 'oper': ['전원']}, 'current_datetime': '2022-09-30 12:00:00'}}, qr
Processing 현재 설정온도랑 실내온도 차이 알려줘.:   8%|▊         | 1/12 [00:00<00:00, 42.59it/s]

timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00''
SELECT "timestamp", "settemp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

ERROR:db.instance:An error occurred while selecting data with
SELECT "timestamp", "settemp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
ERROR:db.instance:Error message: syntax error at or near "2022"
LINE 1: ...ERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30...
                                                             ^

ERROR:__main__:Error inside: 'NoneType' object has no attribute 'columns'
ERROR:__main__:Invoked with Query: {'columns': ['timestamp', 'settemp', 'roomtemp'], 'temporal': "[TIMESTAMP 'CURRENT_TIMESTAMP' - INTERVAL '5 minutes', TIMESTAMP 'CURRENT_TIMESTAMP')", 'spatials': ['01_IB5'], 'metadata': {'site_name': 'YongDongIllHighSchool', 'user_name': '홍길동', 'user_role': 'customer', 'idu_name': '01_IB5', 'idu_mapping': {'01_IB5': ['우리반'], '01_IB7': ['옆반'], '02_I81': ['앞반']}, 'modality_mapping': {'roomtemp': ['실내온도'], 'settemp': ['설정온도'], 'oper': ['전원']}, 'current_datetime': '2022-09-30 12:00:00'}}, qr
Processing 지난주에 설정온도와 실내온도 차이가 가장 많이 났던 날은?:   8%|▊         | 1/12 [00:00<00:00, 37.46it/s]

timestamp >= DATE_TRUNC('week', DATE '2022-09-30' - INTERVAL '1 week') AND timestamp < DATE_TRUNC('week', DATE '2022-09-30')
SELECT "timestamp", "settemp", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE_TRUNC('week', DATE '2022-09-30' - INTERVAL '1 week') AND timestamp < DATE_TRUNC('week', DATE '2022-09-30') AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 어제 옆반 에어컨 전원 언제 꺼졌는지 알려줘.:  17%|█▋        | 2/12 [00:00<00:00, 15.03it/s]

timestamp >= DATE '2022-09-30' - INTERVAL '1 day' AND timestamp < DATE '2022-09-30'
SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB7') AND timestamp >= DATE '2022-09-30' - INTERVAL '1 day' AND timestamp < DATE '2022-09-30' AND "oper" IS NOT NULL AND "id" IS NOT NULL

Processing 앞반 전원 켜져있어?:  25%|██▌       | 3/12 [00:00<00:00, 15.03it/s]

timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00''
SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "oper" IS NOT NULL AND "id" IS NOT NULL

ERROR:db.instance:An error occurred while selecting data with
SELECT "timestamp", "oper", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '02_I81') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "oper" IS NOT NULL AND "id" IS NOT NULL
ERROR:db.instance:Error message: syntax error at or near "2022"
LINE 1: ...ERE name = '02_I81') AND timestamp >= TIMESTAMP ''2022-09-30...
                                                             ^

ERROR:__main__:Error inside: 'NoneType' object has no attribute 'columns'
ERROR:__main__:Invoked with Query: {'columns': ['timestamp', 'oper'], 'temporal': "[TIMESTAMP 'CURRENT_TIMESTAMP' - INTERVAL '5 minutes', TIMESTAMP 'CURRENT_TIMESTAMP')", 'spatials': ['02_I81'], 'metadata': {'site_name': 'YongDongIllHighSchool', 'user_name': '홍길동', 'user_role': 'customer', 'idu_name': '01_IB5', 'idu_mapping': {'01_IB5': ['우리반'], '01_IB7': ['옆반'], '02_I81': ['앞반']}, 'modality_mapping': {'roomtemp': ['실내온도'], 'settemp': ['설정온도'], 'oper': ['전원']}, 'current_datetime': '2022-09-30 12:00:00'}}, qr
Processing 어제 전원 껐어?:  25%|██▌       | 3/12 [00:00<00:00, 15.03it/s]

timestamp >= DATE '2022-09-30' - INTERVAL '1 day' AND timestamp < DATE '2022-09-30'
SELECT "timestamp", "oper", "roomtemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= DATE '2022-09-30' - INTERVAL '1 day' AND timestamp < DATE '2022-09-30' AND "oper" IS NOT NULL AND "roomtemp" IS NOT NULL AND "roomtemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

Processing 최근에 설정온도가 가장 높았던 날 알려줘:  33%|███▎      | 4/12 [00:00<00:00, 15.03it/s]

timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00''
SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL

ERROR:db.instance:An error occurred while selecting data with
SELECT "timestamp", "settemp", "id" FROM "data_t" WHERE idu_id IN (SELECT id FROM idu_t WHERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30 12:00:00'' - INTERVAL '5 minutes' AND timestamp < TIMESTAMP ''2022-09-30 12:00:00'' AND "settemp" IS NOT NULL AND "settemp" IS DISTINCT FROM 'NaN' AND "id" IS NOT NULL
ERROR:db.instance:Error message: syntax error at or near "2022"
LINE 1: ...ERE name = '01_IB5') AND timestamp >= TIMESTAMP ''2022-09-30...
                                                             ^

ERROR:__main__:Error inside: 'NoneType' object has no attribute 'columns'
ERROR:__main__:Invoked with Query: {'columns': ['timestamp', 'settemp'], 'temporal': "[TIMESTAMP 'CURRENT_TIMESTAMP' - INTERVAL '5 minutes', TIMESTAMP 'CURRENT_TIMESTAMP')", 'spatials': ['01_IB5'], 'metadata': {'site_name': 'YongDongIllHighSchool', 'user_name': '홍길동', 'user_role': 'customer', 'idu_name': '01_IB5', 'idu_mapping': {'01_IB5': ['우리반'], '01_IB7': ['옆반'], '02_I81': ['앞반']}, 'modality_mapping': {'roomtemp': ['실내온도'], 'settemp': ['설정온도'], 'oper': ['전원']}, 'current_datetime': '2022-09-30 12:00:00'}}, qr
Processing 올해 경상수지는?:  50%|█████     | 6/12 [00:00<00:00, 35.47it/s]

JsonStructureCorrectness: 1.00
ExactMatch: 0.50
F1: 0.78
Recall: 1.00
                              Input   Scenario  JsonStructureCorrectness  \
0           오늘 아침과 저녁의 온도차이는 얼마나 돼?  scenario1                      True
1  지난주에 설정온도와 실내온도 차이가 가장 많이 났던 날은?  scenario1                      True
2         어제 옆반 에어컨 전원 언제 꺼졌는지 알려줘.  scenario1                      True
3                         어제 전원 껐어?  scenario1                      True

   TruePositive  FalsePositive  FalseNegative  ExactMatch  Total
0      0.250878       0.749122       0.000000           0   1423
1      1.000000       0.000000       0.000000           1  29757
2      1.000000       0.000000       0.000000           1   2880
3      0.331461       0.662921       0.005618           0   4272